<% provide(:title, "Restaurants") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>Restaurant Information</h2>
    </div>
  </div>
<% end %>

<div class="container">
	<div class="span12 no-margin">
		<div class="well">
			<h3>What is PayWithMe?</h3>
			PayWithMe LLC is a platform for group organizers to collect money from their group members. Organizers invite members via email, Facebook or Twitter, and receive payments through credit card, debit card, or cash. We are looking to help attract customers towards your restaurant with upcoming features described below. If you are interested in either, neither or both, let us know using the form at the bottom. Thanks!
		</div>
	</div>
	<div class="span6 no-margin">
		<div class="well">
			<h3>Deals by Virality</h3>
			When you create an event on PayWithMe unique to restaurants, those who pay through the PayWithMe platform receive a specialized coupon for a discounted meal or order during a particular day or week. The more people to join the event, the better the deal will be to whatever specifications you wish.
			<br /><br />
			Those who first join the event for the deal have the social incentive to share the deal with their friends in order to hit the next threshold for an even bigger deal! This process of socially driven traffic leads to more purchases for your establishment.
			<br /><br />
			Take a look at this example: Person A joins your event for a discounted meal from $30 to $24. Now if they get 5 of their friends to also join the event, the price drops to $21. If they get 10 friends, the price goes down again to $18, encouraging Person A to invite as many friends as possible; virality by incentive!
			<br /><br />
			All you need is a special PayWithMe account for restaurants, a PayPal account, and tasty food!
			<br /><br />
			You control everything about the deal you offer. You set the prices and the thresholds needed to hit the next level!
		</div>
	</div>
	<div class="span6">
		<div class="well">
			<h3>Split the Bill</h3>

			Dont you HATE splitting bills over 6 different credit cards?!
			By suggesting PayWithMe to your customers, they can deal with the payment
			splitting themselves! PayWithMe allows you to get paid with one card, and
			provides your customers an easy way to pay each other back.
			1) Tasty food!
			2) Customers who want to split bills!

		</div>
	</div>
	<div class="span12 no-margin">
		<div class="well">
			<h3>If you're interested, let us know!</h3>
			<%= form_for @restaurant_contact do |f| %>

			<%= f.label :name %>
			<%= f.text_field :name, placeholder: "First Last" %>

			<%= f.label :email %>
			<%= f.text_field :email, placeholder: "example@email.com" %>

			<%= f.label :restaurant_name %>
			<%= f.text_field :restaurant_name, placeholder: "Sample's Restaurant" %>

			<%= f.label :split %>
			<%= f.check_box :split %>

			<%= f.label :deal %>
			<%= f.check_box :deal %>

			<%= f.label :comment %>
			<%= f.text_area :comment, placeholder: "Comments (Optional)" %>

			<%= f.submit "Submit", class: "btn btn-primary" %>

			<% end %>
		</div>
	</div>
</div>