<% provide(:title, "Restaurants") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>Restaurant Information</h2>
    </div>
  </div>
<% end %>

<div class="container">
	<div class="span12 no-margin">
		<div class="well">
			<h3>What is PayWithMe?</h3>
			PayWithMe LLC is a platform for group organizers to collect money from their group members. Organizers invite members via email, Facebook or Twitter, and receive payments through credit card, debit card, or cash. We are looking to help attract customers towards your restaurant with upcoming features described below. If you are interested in either, neither or both, let us know using the form at the bottom. Thanks!
		</div>
	</div>
	<div class="span6 no-margin">
		<div class="well">
			<h3>Deals via Virality</h3>
			When you create an event on PayWithMe unique to restaurants, those who pay through the PayWithMe platform receive a specialized coupon for a discounted meal or order during a particular day or week. The more people to join the event, the better the deal will be to whatever specifications you wish.
			<br /><br />
			Those who first join the event for the deal have the social incentive to share the deal with their friends in order to hit the next threshold for an even bigger deal! This process of socially driven traffic leads to more purchases for your establishment.
			<br /><br />
			Take a look at this example: Person A joins your event for a discounted meal from $30 to $24. Now if they get 5 of their friends to also join the event, the price drops to $21. If they get 10 friends, the price goes down again to $18, encouraging Person A to invite as many friends as possible; virality by incentive!
			<br /><br />
			All you need is a special PayWithMe account for restaurants, a PayPal account, and tasty food!
			<br /><br />
			You control everything about the deal you offer. You set the prices and the thresholds needed to hit the next level!
		</div>
	</div>
	<div class="span6">
		<div class="well">
			<h3>Split the Bill</h3>
			Ever see a large group walking in and just dread the task of splitting the bill afterwards to then have to swipe each credit card separately, keeping track of what bill each card was paired with?
			<br /><br />
			If you see a large group trying to split up the bill, hand them a PayWithMe Split the Bill instructions sheet and let them handle the split. Customers will be able to take a picture of a single receipt and PayWithMe will figure out the various charges. One card is used to pay for the meal, but the others in the group will pay back that person online with their smart-phones.
			<br /><br />
			PayWithMe reads the receipt and creates an event on the spot. All the organizer has to do is invite the other members to the event over email and match up their charges. Each member would then sign on to their PayWithMe account and pay the organizer back right at the table!
			<br /><br />
			All you need is a special PayWithMe account for restaurants, a group of customers, our instructions sheets to hand out when the situation arises and tasty food! The money is placed right into your linked account (via bank or PayPal.)
		</div>
	</div>
	<div class="span12 no-margin">
		<div class="well">
			<h3>If you're interested, let us know!</h3>
			<%= form_for @restaurant_contact do |f| %>

				<div class="control-group">
					<%= f.label :name, class: "control-label" %>
					<div class="controls">
						<%= f.text_field :name, placeholder: "First Last", class: "input-block-level" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :email, class: "control-label" %>
					<div class="controls">
						<%= f.text_field :email, placeholder: "example@email.com", class: "input-block-level" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :restaurant_name, "Restaurant Name", class: "control-label" %>
					<div class="controls">
						<%= f.text_field :restaurant_name, placeholder: "Sample's Restaurant", class: "input-block-level" %>
					</div>
				</div>

				<div class="control-group">
					I'm interested in...
				</div>

				<div class="control-group">
					<%= f.label :split, "Split the Bill", class: "control-label" %>
					<div class="controls">
						<%= f.check_box :split %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :deal, "Deals via Virality", class: "control-label" %>
					<div class="controls">
						<%= f.check_box :deal %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :comment, "Comments or Questions (Optional)", class: "control-label" %>
					<div class="controls">
						<%= f.text_area :comment, placeholder: "250 characters max", rows: 5, class: "input-block-level" %>
					</div>
				</div>

				<div class="form-actions">
					<%= f.submit "Submit", class: "btn btn-block btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>