<tr>
  <td>
    <%= link_to nudge.event.title, nudge.event %>
  </td>
  <td>
    <%= link_to nudge.nudger.name || nudge.nudger.email, nudge.nudger %>
  </td>
  <td>
    <%= link_to nudge.nudgee.name || nudge.nudgee.email, nudge.nudgee %>
  </td>
  <td>
    <%= nudge.rating %>
  </td>
  <td>
    <%= distance_of_time_in_words_to_now nudge.created_at %> ago
  </td>
  <td>
    <% if nudge.nudgee.event_users.find_by_event_id(nudge.event.id).payments.blank? %>
      No
    <% else %>
      Yes
    <% end %>
  </td>
</tr>