<div id="nudge-modal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h2>Send some nudges!</h2>
  </div>

  <div class="modal-body">
    <p>Since you just paid, you're free to send nudges to other users.</p>
    <p>
      <em><small>Nudges remaining: <strong class="nudges-remaining"><%= @event_user.nudges_remaining %></strong></small></em>
    </p>
    <div class="push-bottom-small">
      Nudge Rating:
      <div class="btn-group">
        <a href="#" class="btn rating-modal-button disabled" data-rating="G">G</a>
        <a href="#" class="btn rating-modal-button" data-rating="PG13">PG13</a>
        <a href="#" class="btn rating-modal-button" data-rating="R">R</a>
      </div>
    </div>

    Sample nudge message:
    <div id="sample-modal-G-nudge" class="sample-modal-nudge-text">
      <textarea rows="3" class="input-block-level" disabled>Hi there, You've been nudged! <%= current_user.first_name %> wants you to get your money in for <%= @event.title %>. What are you waiting for?</textarea>
    </div>
    <div id="sample-modal-PG13-nudge" class="sample-modal-nudge-text">
      <textarea rows="3" class="input-block-level" disabled>Hurry up!! You need to get your shit together and make your payment to <%= @event.organizer.first_name %> for <%= @event.title %>. You are holding up the group and it’s annoying everyone!</textarea>
    </div>
    <div id="sample-modal-R-nudge" class="sample-modal-nudge-text">
      <textarea rows="3" class="input-block-level" disabled>Stop f-ing around!! You agreed to pay for <%= @event.title %> and you are just sitting on your ass. Everyone is waiting for you to pay, so just do it!</textarea>
    </div>

    <ul class="members">  
      <%= render partial: 'users/user', collection: @event.unpaid_event_users.reject { |event_user| event_user == @event_user }, as: :event_user %>
    </ul>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">View event</button>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function()
  {
    var ratingRegEx = /([?&]rating)=([^#&]*)/g;

    $("#nudge-modal").modal();
    $("#nudge-modal .members").show();

    $('.rating-modal-button').click(function(e)
    {
      e.preventDefault();
      $clicked = $(this);
      var rating = $clicked.data("rating");

      $('.rating-modal-button').each(function()
      {
        $(this).removeClass('disabled');
      });

      $('.btn-nudge').each(function()
      {
        $this = $(this);
        thisUrl = $this.attr("href");
        var newUrl = thisUrl.replace(ratingRegEx, '$1=' + rating);
        $this.prop("href", newUrl);
      });

      $('.sample-modal-nudge-text').hide();
      $('#sample-modal-' + rating + '-nudge').show();

      $clicked.addClass('disabled');
    });
  });
</script>
