<% if !signed_in? %>

  <% content_for :footer do %>
    <script type="text/javascript">
      $(function() {

        impress().init();
        impress().goto(0);

        var totalSlides = 8; 
        var counter = 0;
  
        $("h3").click(function(){ start(); });

        function begin(){
          counter++;

          if(counter <= totalSlides){
            impress().next();
          }
        }
        
        function start(){
          impress().init();
          setInterval(function(){ begin(); }, 3000);
        }

      });
    </script>
  <% end %>

  <div class="hero-unit homepage-hero-unit">
    <center>
    <!-- <h1>Welcome to PayWithMe!</h1> -->
    <h3>The ultimate redefinition of social payments.</h3>

    <div id="impress_container">
      <div id="impress">

        <div id="imagine" class="step" data-x="0" data-y="0">
          <h1>Imagine...</h1>
        </div>

        <div id="situation" class="step" data-x="2000" data-y="0">
          <p>You and a friend want to go to the game,</p>
          <%= image_tag("group.png", alt: "Pay With Me") %>
        </div>

        <div id="no_money" class="step" data-x="4000" data-y="0">
          <p>But he doesn't have the money,</p>
          <%= image_tag("dog.gif", alt: "Pay With Me") %>
        </div>

        <div id="cover" class="step" data-x="6000" data-y="0">
          <p>So you cover for him today,</p>
          <!-- Place Image Here -->
        </div>

        <div id="need_money" class="step" data-x="8000" data-y="0">
          <p>But you really need that money back for date night on Tuesday...</p>
          <!-- Place Image Here -->
        </div>

        <div id="fix" class="step" data-x="10000" data-y="0">
          <p>Well now in just a few clicks your friend can pay you back online by a requested data.</p>
          <!-- Calendar Image Maybe -->
        </div>

        <div id="explain" class="step" data-x="12000" data-y="0">
          <p>Using PayWithMe you can set a due date for your friend to pay you back.<br />But why you ask?</p>
        </div>

        <div id="why" class="step" data-x="14000" data-y="0">
          <p>To build up your reputation and keep track of friendly loans in an easy and convienent place.</p>
        </div>

        <div id="start" class="step" data-x="16000" data-y="0">
          <p>Where do you get started?</p>
          <p>Simply click one of the links below!</p>
        </div>
      </div>
    </div>

    <p>
        Keep track of who owes you money and who isn't paying back. 
        Build a <strong>Social Credit Score</strong> and get <strong>perks</strong>.
    </p>
    <p>
      <%= link_to "Register or Login With Facebook", "/users/auth/facebook", class: "btn btn-primary btn-large" %>
      <%= link_to "Register or Login With Twitter", "/users/auth/twitter", class: "btn btn-primary btn-large" %>
      <%= link_to "Register or Login With Email Address", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>
    </center>
  </div>
<% else %>
  <div class="hero-unit">
    <center>
      <h1>Welcome to PayWithMe!</h1>
      <p>Logged in homepage is currently blank.</p>
    </center>
  </div>
<% end %>