<% if !defined?(@next_messages).nil? && !@next_messages.empty? %>
  /////////////////////////////////////////
  // Infinite scrolling for old messages //
  /////////////////////////////////////////
  
  // Render new messages
  $('.messages').append('<%= j render(@next_messages) %>');

  // Remove the "loading messages" message
  $('.load-messages').remove();

  // Combine messages that are from the same author
  combineUserMessages();

  // Set autosize
  $("<% @next_messages.each do |msg| %>#message-<%= msg.id %>,<% end %>undefined").autoSize({
    fixed: '.profile-image',
    fluid: '.body'
  });

  var messageSize = 0;
  $('.message').each(function()
  {
    console.log($(this).find(".content"));
    thisMessageSize = parseInt($(this).find(".content").attr('data-count'));
    messageSize += thisMessageSize;
  });

  console.log(messageSize);

  if (<%= @messages_count.to_i %> <= messageSize)
  {
    moreMessageContent = false;
  }
  else
  {
    // Let the user know that the messages are being loaded
    $('.messages').append('<span class="load-messages">Loading new messages...</span>');
  }

  // Done loading, can scroll again
  loadingOldMessages = false;

  // Activates tooltips on new messages
  $("[rel='tooltip']").tooltip();
  
<% elsif !defined?(@new_messages).nil? && !@new_messages.empty? %>

  //////////////////////////////
  // Polling for new messages //
  //////////////////////////////

  // Remove "no messages"
  $('.no-messages').remove();

  // Remove the highlighting on new messages
  $('.new.message').each(function()
  {
      $(this).removeClass('new');
      $(this).removeClass('latest');
  });

  // Render the new messages
  <% @new_message = true %>
  $('.messages').prepend('<%= j render(@new_messages, :locals => { :new_message => @new_message }) %>');

  // Combine messages that are from the same author
  combineUserMessages();

  // add the latest-message class
  $(".message:first-child").addClass("latest");
  
  // Fade the messages in for a cool effect (events.js)
  fadeInNewMessages();

  // Flash the title if page is not in focus (jquery.titlealert.min.js)
  $.titleAlert("New Chat Message!", {
    requireBlur: true,
    stopOnFocus: true,
    stopOnMouseMove: true,
    interval: 500
  });

  // Set autosize
  $("<% @new_messages.each do |msg| %>#message-<%= msg.id %>,<% end %>undefined").autoSize({
    fixed: '.profile-image',
    fluid: '.body'
  });

  // Activates tooltips on new messages
  $("[rel='tooltip']").tooltip();

<% end %>
