<div class="row">
  <div class="span9 page-body">
    <div class="page-header">
      <h2>Account Settings</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }, ) do |f| %>
      <%= devise_error_messages! %>

      <div class="control-group">
        <%= f.label :name, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, class: 'control-label' %>
        <div class="controls">
          <%= f.email_field :email %>
        </div>
      </div>

      <% if f.object.password_required? %>
        <div class="control-group">
          <%= f.label :password, class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, "Confirm Password", class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
      <% end %>

      <div class="control-group">
        <%= f.label :profile_image, class: 'control-label' %>
        <div class="controls">
          <%= f.hidden_field :profile_image_option, id: "user_profile_image" %>
          <div class="btn-group" id="user_profile_image_btn_group" data-toggle="buttons-radio">
            <button type="button" class="btn <%= "active" if current_user.profile_image_type == :gravatar %>" data-value="gravatar">Gravatar</button>
            <button type="button" class="btn <%= "active" if current_user.profile_image_type == :url %>" data-value="url">URL</button>
            <button type="button" class="btn <%= "active" if current_user.profile_image_type == :upload %>" data-value="upload">Image Upload</button>
          </div>

          <div class="user_profile_image_option push-top" id="user_profile_image_gravatar">
            Your gravatar:<br />
            <%= gravatar_image_tag current_user.email, alt: current_user.name, class: "push-top" %><br />
            <%= link_to "Change Gravatar Image", "http://en.gravatar.com/emails/", class: "btn push-top" %>
          </div>
          <div class="user_profile_image_option push-top" id="user_profile_image_url">
            <% if current_user.profile_image_url.present? %>
              <div class="push-bottom">
                Current URL:
              </div>
              <div class="push-bottom">
                <%= profile_image_tag(current_user, :small) %>
              </div>
            <% end %>
            <%= f.text_field :profile_image_url, placeholder: "Image URL"  %>
          </div>
          <div class="user_profile_image_option push-top" id="user_profile_image_upload">
            <% if current_user.profile_image.present? %>
              <div class="push-bottom">
                Current uploaded image:
              </div>
              <div class="push-bottom">
                <%= profile_image_tag(current_user, :small) %>
              </div>
            <% end %>
            <%= f.file_field :profile_image, accept: 'image' %>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit "Update", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <!-- <div class="span3">
    <div class="well sidebar-nav">
      <strong>Cancel my account</strong><br />
      Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.
    </div>
  </div> -->
</div>

<% content_for(:before_body) do %>
  <script type="text/javascript">
    $(document).ready(function()
    {
      $("#user_profile_image_btn_group button").click(function()
      {
        var $this = $(this);
        var $input = $("#user_profile_image");
        var value = $this.data("value");

        // Set the hidden field
        $input.val(value);

        // Show the hidden box
        $(".user_profile_image_option").hide();
        $("#user_profile_image_"+value).show();
      });

      $("#user_profile_image_<%= current_user.profile_image_type %>").show();
      $("")
    });
  </script>
<% end %>