<div class="row">
  <div class="span9">
    <div class="page-header">
      <% if resource.provider %>
        <h1>Finish <%= resource.provider.capitalize %> Registration</h1>
      <% else %>
        <h1>Register New Account</h1>
      <% end %>
    </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
      <%= devise_error_messages! %>

      <div class="control-group">
        <%= f.label :name, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :username, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :username %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, class: 'control-label' %>
        <div class="controls">
          <%= f.email_field :email %>
        </div>
      </div>

      <% if !session["devise.user_data"] %>
        <div class="control-group">
          <%= f.label :password, class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>


        <div class="control-group">
          <%= f.label :password_confirmation, class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
      <% end %>

      <div class="form-actions">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
  <div class="span3">
    <div class="well sidebar-nav">
      <%= link_to "Register With Facebook", "/users/auth/facebook", class: "btn btn-primary btn-large push-bottom" %>
      <%= link_to "Register With Twitter", "/users/auth/twitter", class: "btn btn-primary btn-large" %>
    </div>
  </div>
</div>