<tr>
  <td colspan="2">
    <% if @nudge.G? %>
      <p>Hi <%= (@user.first_name.empty?) ? "there" : @user.first_name %>,</p>

      <p>You've been nudged! <%= @nudge.nudger.first_name %> wants you to get your money in for <%= @event.title %>. What are you waiting for?</p>
    <% elsif @nudge.PG13? %>
      <% first_variable = ["C’mon!!", "Hurry up!!", "Hey!!", "Lets go!!", "Dude!!"].sample %>
      <% second_variable = ["make your frikken", "get your goddamn", "stop being lazy and make your", "stop messing around and make your", "get your shit together and make your"].sample %>
      <% third_variable = ["pissing me off.", "annoying everyone!", "holding us back.", "obnoxious."].sample %>

      <p><%= first_variable %> You need to <%= second_variable %> payment to <%= @organizer.first_name %> for <%= @event.title %>. You are holding up the group and it’s <%= third_variable %></p>
    <% elsif @nudge.R? %>
      <% first_variable = ["Quit being lazy", "Get off your ass", "Pay up", "Stop f-ing around", "Whats taking so long?"].sample %>
      <% second_variable = ["you are just sitting on your ass.", "you are just being selfish!", "you are picking your nose instead.", "you are sitting around doing nothing!"].sample %>

      <%= first_variable %>!! You agreed to pay for <%= @event.title %> and <%= second_variable %> Everyone is waiting for you to pay, so just do it!
    <% end %>

    <p><%= link_to image_tag(asset_path('visit_event.png'), alt: "Visit #{@event.title}"), event_url(@event, guest_params(@user)) %></p>
  </td>
</tr>