<tr>
  <td colspan="2">
    <p>Hi <%= (@user.first_name.empty?)? "there" : @user.first_name %>,</p>

    <p><%= @reminder.event.organizer.first_name %> has sent out a reminder to the members of <%= @reminder.event.title %>:</p>

    <p><%= @reminder.body %></p>

    <p><%= link_to image_tag(asset_url('visit_event.png'), alt: "Visit #{@reminder.event.title}"), event_url(@reminder.event, guest_params(@user)) %></p>
  </td>
</tr>