<% provide(:title, "New Reminder") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <div class="page-header">
          <h2>
            <%= @event.title %> Dashboard: Send Reminder
          </h2>
          <em>
            <small>
              <% if @event.public? %>
                Public event
              <% else %>
                Private event
              <% end %>
              - Organized by <%= @event.organizer.name %>
            </small>
          </em>
        </div>
      </div>
      <div class="span3">
        <%= link_to "Return to event", event_path(@event), class: "btn btn-primary btn-block push-top-title" %>
        <%= link_to "Return to dashboard", admin_event_path(@event), class: "btn btn-primary btn-block push-top-title-second" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <%= form_for [@event, @reminder] do |f| %>
    <% render "forms", f: f %>
  <% end %>
</div>