<% provide(:title, "Events | Administrator Panel") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <h2>Administrator Panel: Events</h2>
      </div>
      <div class="span3">
        <%= link_to "Return to home", admin_index_path, class: "btn btn-primary btn-block push-top-title" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <ul class="nav nav-tabs" id="myTab" data-tabs="tabs">
        <li class="active"><a href="#all_events" data-toggle="tab">All Events</a></li>
        <li><a href="#active_events" data-toggle="tab">Active Events</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="all_events">
          <table class="table table-bordered table-striped">
            <tr>
              <th>Title</th>
              <th>Organizer</th>
              <th>Members</th>
              <th>Created</th>
              <th><a rel="tooltip" title="Division Type">DT</a></th>
              <th><a rel="tooltip" title="Privacy Type">PT</a></th>
              <th><a rel="tooltip" title="Payment Methods">PM</a></th>
              <th><a rel="tooltip" title="Amount Per Person">APP</a></th>
            </tr>
            <%= render collection: @events, partial: "events/admin_event", as: :event, locals: { full: true } %>
          </table>

          <%= will_paginate @events %>
        </div>

        <div class="tab-pane" id="active_events">
          <table class="table table-bordered table-striped">
            <tr>
              <th>Title</th>
              <th>Organizer</th>
              <th>Members</th>
              <th>Created</th>
              <th><a rel="tooltip" title="Division Type">DT</a></th>
              <th><a rel="tooltip" title="Privacy Type">PT</a></th>
              <th><a rel="tooltip" title="Payment Methods">PM</a></th>
              <th><a rel="tooltip" title="Amount Per Person">APP</a></th>
            </tr>
            <%= render collection: @active_events, partial: "events/admin_event", as: :event, locals: { full: true } %>
          </table>

          <%= will_paginate @events %>
        </div>
      </div>
    </div>
  </div>
</div>