<% provide(:title, "Administrator Panel") %>
<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>Administrator Panel</h2>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span8">
      <h3 class="pull-left">Recent Users</h3>
      <%= link_to "View All Users", users_admin_index_path, class: "btn btn-primary pull-right push-top-small" %>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Name</th>
          <th><a rel="tooltip" title="Online Users">On</a></th>
          <th>Email</th>
          <th>Registered</th>
        </tr>
        <%= render collection: @recent_users, partial: "users/admin_user", as: :user, locals: { full: false } %>
      </table>
      <div class="clearfix"></div>

      <h3 class="pull-left">Recent Events</h3>
      <%= link_to "View All Events", events_admin_index_path, class: "btn btn-primary pull-right push-top-small" %>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Title</th>
          <th>Organizer</th>
          <th>Members</th>
          <th>Created</th>
        </tr>
        <%= render collection: @recent_events, partial: "events/admin_event", as: :event, locals: { full: false } %>
      </table>
      <div class="clearfix"></div>

      <h3 class="pull-left">Recent Groups</h3>
      <%= link_to "View All Groups", groups_admin_index_path, class: "btn btn-primary pull-right push-top-small" %>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Title</th>
          <th>Organizer</th>
          <th>Members</th>
          <th>Created</th>
        </tr>
        <%= render collection: @recent_groups, partial: "groups/admin_group", as: :group %>
      </table>
      <div class="clearfix"></div>

      <h3 class="pull-left">Recent Organization Contacts</h3>
      <%= link_to "View All Organization Contacts", organizations_admin_index_path, class: "btn btn-primary pull-right push-top-small" %>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Name</th>
          <th>Contact</th>
          <th>Split?</th>
          <th>Deals?</th>
          <th>Email</th>
        </tr>
        <%= render collection: @recent_organizations, partial: "organizations/admin_organization", as: :organization, locals: { full: false } %>
      </table>
      <div class="clearfix"></div>

      <h3 class="pull-left">Recent Payments</h3>
      <%= link_to "View All Payments", payments_admin_index_path, class: "btn btn-primary pull-right push-top-small" %>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Event</th>
          <th>From</th>
          <th>To</th>
          <th>Amount</th>
          <th>Method</th>
        </tr>
        <%= render collection: @recent_payments, partial: "payments/admin_payment", as: :payment %>
      </table>

      <h3 class="pull-left">Recent Nudges</h3>
      <%= link_to "View All Nudges", nudges_admin_index_path, class: "btn btn-primary pull-right push-top-small" %>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Event</th>
          <th>Nudger</th>
          <th>Nudgee</th>
          <th>Created</th>
          <th><a rel="tooltip" title="Did the nudgee pay?">Effect?</a></th>
        </tr>
        <%= render collection: @recent_nudges, partial: "nudges/admin_nudge", as: :nudge %>
      </table>

      <h3 class="pull-left">Recent Campus Reps</h3>
      <%= link_to "View All Campus Reps", campus_reps_admin_index_path, class: "btn btn-primary pull-right push-top-small" %>
      <%= link_to "Add New Campus Rep", new_campus_rep_path, class: "btn btn-primary pull-right push-top-small" %>
      <table class="table table-bordered table-striped">
        <tr>
          <th><a rel="tooltip" title="Click name to edit">Name<a></th>
          <th>School</th>
          <th>Referrals</th>
          <th>Created</th>
        </tr>
        <%= render collection: @recent_campus_reps, partial: "campus_reps/admin_campus_rep", as: :campus_rep %>
      </table>
    </div>
    <div class="span4">
      <div class="well">
        <h3>Quick Statistics</h3>
        <div class="large-statistic">
          <span class="count"><%= @users_count %></span> users
        </div>
        <div class="large-statistic">
          <span class="count"><%= @events_count %></span> events
        </div>
        <div class="large-statistic">
          <span class="count"><%= @groups_count %></span> groups
        </div>
        <div class="large-statistic">
          <span class="count"><%= @organizations_count %></span> restaurant contacts
        </div>
        <div class="large-statistic">
          <span class="count"><%= @payments_count %></span> payments
        </div>
        <div class="large-statistic">
          <span class="count"><%= @nudges_count %></span> nudges
        </div>
        <div class="large-statistic">
          <span class="count"><%= @campus_reps_count %></span> campus reps
        </div>
      </div>
    </div>
  </div>
</div>