<% provide(:title, "Payments | Administrator Panel") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <h2>Administrator Panel: Payments</h2>
      </div>
      <div class="span3">
        <%= link_to "Return to home", admin_index_path, class: "btn btn-primary btn-block push-top-title" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span8">
      <table class="table table-bordered table-striped">
        <tr>
          <th>Event</th>
          <th>From</th>
          <th>To</th>
          <th>Amount</th>
          <th>Method</th>
        </tr>
        <%= render collection: @payments, partial: "payments/admin_payment", as: :payment, locals: { full: true } %>
      </table>

      <%= will_paginate @payments %>
    </div>

    <div class="span4">
      <div class="well">
        <h3>Quick Statistics All Time</h3>
        <h3>TODO: Test this</h3>

        <div class="large-statistic">
          <span class="count"><%= humanized_money_with_symbol Payment.total_revenue %></span> total revenue
        </div>
        <div class="large-statistic">
          <span class="count"><%= Payment.total_payments["count"] %></span> total payments
        </div>
        <div class="large-statistic">
          <span class="count"><%= humanized_money_with_symbol Payment.total_payments["value"] %></span> total payments value
        </div>
        <div class="large-statistic">
          <span class="count"><%= Payment.total_cash_payments["count"] %></span> total cash payments
        </div>
        <div class="large-statistic">
          <span class="count"><%= humanized_money_with_symbol Payment.total_cash_payments["value"] %></span> total cash payments value
        </div>
        <div class="large-statistic">
          <span class="count"><%= Payment.total_electronic_payments["count"] %></span> total electronic payments
        </div>
        <div class="large-statistic">
          <span class="count"><%= humanized_money_with_symbol Payment.total_electronic_payments["value"] %></span> total electronic payments value
        </div>
      </div>
    </div>
  </div>
</div>