<% if @error_message %>
  $('#payment-links-<%= @event_user.id %> input.input-xlarge').attr('data-original-title', "<%=j @error_message %>");
  $('#payment-links-<%= @event_user.id %> input.input-xlarge').attr('data-original-placement', "left");
  $('#payment-links-<%= @event_user.id %> input.input-xlarge').attr('data-original-trigger', "manual");
  $('#payment-links-<%= @event_user.id %> input.input-xlarge').tooltip('show');
  setTimeout(function() { $('#payment-links-<%= @event_user.id %> input.input-xlarge').tooltip('hide'); }, 5000);
<% else %>
  <% if @event_user.paid? %>
    <% if @event_user.payments.count === 1 %>
      // if it's not already in #paid-members, then it's a new addition, otherwise
      // the organizer is marking the event_user as paid with a lesser amount of cash
      var replaceWithResult;
      replaceWithResult = $("#paid-members .dashboard-user-<%= @event_user.id %>").replaceWith('<%=j render "users/dashboard_paid_user", event_user: @event_user, itemized: false %>');
      if (replaceWithResult.length === 0)
      {
        $("#paid-members .row").append('<%=j render "users/dashboard_paid_user", event_user: @event_user, itemized: false %>');
      }
      $("#unpaid-members .dashboard-user-<%= @event_user.id %>").remove();
      $("#paid-members").show();
    <% else %>
      $("#paid-members .dashboard-user-<%= @event_user.id %>").replaceWith('<%=j render "users/dashboard_paid_user", event_user: @event_user, itemized: false %>');
    <% end %>

    if ($("#unpaid-members .row .dashboard-unpaid-user").length === 0)
    {
      $("#unpaid-members").hide(); 
    }
  <% else %>
    <% if @event.fundraiser? %>
      // The only way an event_user will be unpaid in fundraisers after marking as paid
      // is if they are marked as $0 paid, aka, they are being marked as unpaid
      $("#unpaid-members .row").append('<%=j render "users/dashboard_unpaid_user", event_user: @event_user, itemized: false %>')
      $("#paid-members .dashboard-user-<%= @event_user.id %>").remove();
      $("#unpaid-members").show();

      if ($("#paid-members .row .dashboard-paid-user").length === 0)
      {
        $("#paid-members").hide(); 
      }
    <% else %>
      $("#unpaid-members .dashboard-user-<%= @event_user.id %>").replaceWith('<%=j render "users/dashboard_unpaid_user", event_user: @event_user, itemized: false %>');
    <% end %>
  <% end %>

  $('#payment-links-<%= @event_user.id %> .input-append').autoSize({
    fixed: 'input[type=submit]',
    fluid: 'input[type=text]'
  });

  $('#payment-links-<%= @event_user.id %> input.input-xlarge').tooltip('hide');
  $('#money-collected').html('<%= humanized_money_with_symbol @event.collected %>');

  if ($('.progress').length === 0)
  {
    $('#quick-statistics').prepend('<div class="progress"><div class="bar" style="width: <%= @event.paid_percent %>%;"><%= number_with_precision @event.paid_percent, precision: 2 %>%</div></div>');
  }
  else
  {
    $('.progress').html('<div class="bar" style="width: <%= @event.paid_percent %>%;"><%= number_with_precision @event.paid_percent, precision: 2 %>%</div>');
  }
<% end %>