<% if @error_message %>
  $('#payment-links-<%= @event_user.id %> input.input-xlarge').attr('data-original-title', "<%=j @error_message %>");
  $('#payment-links-<%= @event_user.id %> input.input-xlarge').attr('data-original-placement', "left");
  $('#payment-links-<%= @event_user.id %> input.input-xlarge').attr('data-original-trigger', "manual");

  $('#payment-links-<%= @event_user.id %> input.input-xlarge').tooltip('show');

  setTimeout(function() { $('#payment-links-<%= @event_user.id %> input.input-xlarge').tooltip('hide'); }, 5000);

<% else %>

  <% if @event_user.paid? %>
    $("#paid-members .row").append('<%=j render "users/dashboard_paid_user", event_user: @event_user, itemized: false %>')
    $("#unpaid-members .dashboard-user-<%= @event_user.id %>").remove();
    $("#paid-members").show();
    if($("#unpaid-members .row .dashboard-unpaid-user").length === 0)
    {
     $("#unpaid-members").hide(); 
    }
  <% else %>
<<<<<<< HEAD
    $('#user-status-<%= @event_user.user.id %>').html('Unpaid');
    var money_collected = <%= @event.money_collected %>;
    if (money_collected === 0.00)
    {
      $('.progress').remove();
    }
  <% end %>

  $('#payment-links-<%= @event_user.user.id %>').html('<%=j render "users/dashboard_user_form", event: @event_user.event, user: @event_user.user, event_user: @event_user %>');
  $('#payment-links-<%= @event_user.user.id %> input.input-xlarge').tooltip('hide');
=======
  $("#unpaid-members .dashboard-user-<%= @event_user.id %>").replaceWith('<%=j render "users/dashboard_unpaid_user", event_user: @event_user, itemized: false %>');
  $('#payment-links-<%= @event_user.id %> .input-append').autoSize({
    fixed: 'input[type=submit]',
    fluid: 'input[type=text]'
  });
  <% end %>

  $('#payment-links-<%= @event_user.id %> input.input-xlarge').tooltip('hide');
>>>>>>> master
  $('#money-collected').html('<%= humanized_money_with_symbol @event.money_collected %>');

  if ($('.progress').length === 0)
  {
    $('#quick-statistics').prepend('<div class="progress"><div class="bar" style="width: <%= @event.paid_percentage %>%;"><%= number_with_precision @event.paid_percentage, precision: 2 %>%</div></div>');
  }
  else
  {
    $('.progress').html('<div class="bar" style="width: <%= @event.paid_percentage %>%;"><%= number_with_precision @event.paid_percentage, precision: 2 %>%</div>');
  }
<% end %>