<% if @event_user.paid? %>
  $('#user-status-<%= @event_user.user.id %>').html('<%= j distance_of_time_in_words_to_now @event_user.paid_at %> ago');
<% end %>
$('#payment-links-<%= @event_user.user.id %>').html('<%= link_to "Mark Unpaid", unpaid_event_event_user_path(@event, @event.event_user(@event_user.user)), class: "btn btn-danger", method: :put, remote: true %>');
$('#money-collected').html('<%= humanized_money_with_symbol @event.money_collected %>');
if ($('.progress').length === 0)
{
  $('#quick-statistics').prepend('<div class="progress"><div class="bar" style="width: <%= @event.paid_percentage %>%;"><%= number_with_precision @event.paid_percentage, precision: 2 %>%</div></div>');
}
else
{
  $('.progress').html('<div class="bar" style="width: <%= @event.paid_percentage %>%;"><%= number_with_precision @event.paid_percentage, precision: 2 %>%</div>');
}
