<% provide(:title, "Enter Pin") %>
<div class="row">
  <div class="span8">
    <div class="page-header">
      <h2>
        Pay <%= @event_user.event.title %>
      </h2>
    </div>
  </div>
</div>
<%= form_tag(pay_event_user_path(@event_user, method: PaymentMethod::MethodType::DWOLLA)) do %>
  <div class="row">
    <div class="span4">
      <h3>Enter Dwolla Pin</h3>
      <div class="well">
        <%= label_tag :pin %>
        <%= text_field_tag :pin, "", class: "input-block-level" %>
      </div>
      <%= submit_tag "Send Payment", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>