$("#unpaid-members .row").append('<%=j render "users/dashboard_unpaid_user", event_user: @event_user, itemized: false %>')
$("#paid-members .dashboard-user-<%= @event_user.id %>").remove();
$("#unpaid-members").show();

if ($("#paid-members .row .dashboard-paid-user").length === 0)
{
  $("#paid-members").hide(); 
}

$('#payment-links-<%= @event_user.id %> .input-append').autoSize({
  fixed: 'input[type=submit]',
  fluid: 'input[type=text]'
});

$('#money-collected').html('<%= humanized_money_with_symbol @event.collected %>');

var collected = <%= @event.collected %>;
if (collected === 0)
{
  $('.progress').remove();
}
else
{
  $('.progress').html('<div class="bar" style="width: <%= @event.paid_percent %>%;"><%= number_with_precision @event.paid_percent, precision: 2 %>%</div>');
}
