<%= render 'shared/error_messages', object: f.object %>
<div class="row push-top">
  <div class="span6">
    <h3>Group Information</h3>
    <div class="well">
      <%= f.label :title %>
      <%= f.text_field :title, class: "input-block-level" %>
      <%= f.label :description %>
      <%= f.text_area :description, class: "input-block-level", rows: 5 %>


      <div class="control-group">
        <%= f.label :image, "Group Image", class: 'control-label' %>
        <div class="controls">
          <%=f.hidden_field :image_type %>
          <div class="btn-group input-block-level" id="group_image_type_btn_group" data-toggle="buttons-radio">
            <button type="button" class="btn third <%= "active" if @group.image_type == :url %>" data-value="url" data-name="url">URL</button>
            <button type="button" class="btn third <%= "active" if @group.image_type == :upload %>" data-value="upload" data-name="upload">Image Upload</button>
            <button type="button" class="btn third last <%= "active" if @group.image_type == :default_image %>" data-value="default_image" data-name="default_image">None</button>
          </div>

          <div class="group_image_type_option push-top" id="group_image_type_default_image">
            <div class="push-bottom">The default</div>
            <div class="push-bottom">
              <%= image_tag "default_group_image.png", width: Figaro.env.send(:medium.to_s+"_size") %>
            </div>
          </div>

          <div class="group_image_type_option push-top" id="group_image_type_url">
            <% if @group.image_url.present? %>
              <div class="push-bottom">Current URL:</div>
              <div class="push-bottom">
                <%= group_image_tag(@group, :medium) %>
              </div>
            <% end %>
            <div class="control-group">
              <%= f.label :image_url, "Group Image URL", class: 'control-label' %>
              <div class="controls">
                <%= f.text_field :image_url, placeholder: "http://example.com/image.png", class: 'input-block-level' %>
              </div>
            </div>
          </div>

          <div class="group_image_type_option push-top" id="group_image_type_upload">
            <% if @group.image.present? %>
              <div class="push-bottom">Current uploaded image:</div>
              <div class="push-bottom">
                <%= group_image_tag(@group, :medium) %>
              </div>
            <% end %>
            <div class="control-group">
              <%= f.label :image, "Image File", class: 'control-label' %>
              <div class="controls">
                <%= f.file_field :image, accept: 'image' %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <h3 class="pull-left">Group Members</h3>
    <a href="#" id="btn-bulk-invite" class="btn btn-primary pull-right">Bulk invitation mode</a>
    <div class="clearfix"></div>
    <div class="well">
      <div class="alert alert-error hidden" id="add_member_error">
      </div>
      <div class="input-append" id="single-invite">
        <%= text_field :member, :name, placeholder: "Search for friends or enter email", class: "span4" %>
        <%= link_to "Add", "#", class: "btn", id: "add_member" %>
      </div>
      <div id="bulk-invite" class="hidden">
         <%= text_area :member, :names, placeholder: "Enter email addresses separated by commas", class: "input-block-level", rows: 3 %>
        <%= link_to "Add", "#", class: "btn btn-block", id: "add_members" %>
      </div>
      <%= f.hidden_field :members, value: (@member_emails.to_json if @member_emails) %>
      <div id="invited_members">
        <% @group.members.each do |user| %>
          <%= render 'users/invited_user', mustache: user_for_mustache(user) %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% if defined? editing_event %>
    <div class="span6">
      <h3 class="pull-left">Group Actions</h3>
      <div class="clearfix"></div>
      <div class="well">
        <%= link_to "Delete Group", @group, class: "btn btn-block btn-danger", data: { confirm: "This is irreversible, but members will still be attending the events they were invited to. Are you sure you want to delete this group?" }, method: :delete %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="span12">
    <%= f.submit "#{submit_text(@group)} group", class: "btn btn-block btn-primary" %>
  </div>
</div>

<script type="text/html" id="invited_user_template">
  <%= render 'users/invited_user' %>
</script>

<% content_for(:before_body_end) do %>
  <script type="text/javascript">
    $(document).ready(function()
    {
      $('#member_name').addSomething({
        somethings: <%= @member_emails.to_json.html_safe || "[]" %>,
        somethingsInputSelector: "#group_members",
        bulkEnabled: true
      });

      $('#group_image_type').buttonGroup();

    });
  </script>
<% end %>
