<% provide(:title, "Edit Group") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <div class="page-header">
          <h2>
            Edit <%= @group.title %>
          </h2>
          <em>
            <small>
              Organized by <%= @group.organizer.name %>
            </small>
          </em>
        </div>
      </div>
      <div class="span3">
        <%= link_to "Return to group", group_path(@group), class: "btn btn-primary btn-block pull-right push-top-title-multiline" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <%= form_for @group do |f| %>
    <%= render 'forms', f: f, editing_event: true %>
  <% end %>
</div>