<% provide(:title, @group.title) %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <div class="page-header">
          <h2>
            <%= @group.title %>
          </h2>
          <em>
            <small>
              Organized by <%= @group.organizer.name %>
            </small>
          </em>
        </div>
      </div>
      <div class="span3">
        <% if @group.is_admin?(current_user) %>
          <%= link_to "Edit group", edit_group_path(@group), class: "btn btn-primary btn-block pull-right push-top-title-multiline" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <!-- <div class="row">
    <div class="span9">
      <div class="page-header">
        <h2><%= @group.title %></h2>
      </div>
    </div>
    <% if @group.is_admin?(current_user) %>
      <div class="span3">
        <%= link_to "Edit group", edit_group_path(@group), class: "btn btn-primary btn-block pull-right push-top", rel: "tooltip", title: "Manage the group attributes and members" %>
      </div>
    <% end %>
  </div> -->
  <div class="row">
    <div class="span5">
      <h3>Group Details</h3>
      <div class="group-image <%= "default" if @group.image_type == :default_image %>" style="background-image: url('<%= group_image_path(@group, :full) %>');"></div>
      <div class="well event-description">
        <% if @group.description.present? %>
          <div class="quarter"><strong>Description:</strong></div>
          <div class="three-quarters"><%= @group.description %></div>
          <div class="clearfix"></div>
        <% end %>
        <div class="quarter"><strong>Members:</strong></div>
        <div class="three-quarters"><%= @group.members.count %></div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="span7">
      <h3>Member List</h3>
      <div class="well">
        <% if @group.members.any? %>
          <ul class="members">
            <%= render partial: 'event_users/event_user', collection: @group.group_users %>
          </ul>
        <% else %>
          There are no members. Add some!
        <% end %>
      </div>
    </div>
  </div>
  <div class="row push-bottom">
    <div class="span12">
      <h3>Group Events</h3>
      <% if @group.events.empty? %>
        No group events!
      <% else %>
        <%= render partial: "events/profile_event", collection: @group.events, as: :event %>
      <% end %>
    </div>
  </div>
</div>