<% if !event_user.paid? || event_user.event.fundraiser? %>
  <div class="push-top-tiny" id="payment-links-<%= event_user.id %>">
    <%= form_for(event_user.payment, method: :put, remote: true, url: paid_payment_path(event_user.payment), html: { class: "js-catch-errors js-catch-success"} ) do |f| %>
      <%= f.hidden_field :cash, value: true %>
      <div class="input-append">
        <%= f.text_field :paid_amount, placeholder: "Enter amount unless fully paid", class: "input-xlarge", data: { placement: :left, trigger: :manual, container: :body} %>
        <%= f.submit "Mark Paid", class: "btn btn-success", method: :put, remote: true %>
      </div>
    <% end %>
  </div>
<% elsif event_user.paid_with_cash? %>
  <div class="push-top-tiny" id="payment-links-<%= event_user.id %>">
    <%= link_to "Mark Unpaid", unpaid_payment_path(event_user.payment), class: "btn btn-danger btn-block", method: :put, remote: true %>
  </div>
<% end %>