<% if !event_user.paid? || @event.fundraiser? %>
  <div class="push-top-tiny" id="payment-links-<%= event_user.id %>">
    <%= form_for(event_user, method: :put, remote: true, url: paid_event_event_user_path(event_user.event, event_user)) do |f| %>
      <div class="input-append">
        <% paid_total = event_user.paid_total %>
        <% paid_total = nil unless paid_total > 0 %>
        <% if @event.fundraiser? %>
          <%= f.text_field :paid_total, value: paid_total, placeholder: "Enter amount donated", class: "input-xlarge", "data-placement" => "left", "data-trigger" => "manual", "data-container" => "body" %>
        <% else %>
          <%= f.text_field :paid_total, value: paid_total, placeholder: "Enter amount unless fully paid", class: "input-xlarge", "data-placement" => "left", "data-trigger" => "manual", "data-container" => "body" %>
        <% end %>
        <%= f.submit "Mark Paid", class: "btn btn-success", method: :put, remote: true %>
      </div>
    <% end %>
  </div>
<% elsif event_user.paid_with_cash? %>
  <div class="push-top-tiny" id="payment-links-<%= event_user.id %>">
    <%= link_to "Mark Unpaid", unpaid_event_event_user_path(event_user.event, event_user), class: "btn btn-danger btn-block", method: :put, remote: true %>
  </div>
<% end %>