<%
  # NOTE: This partial takes in an EventUser with name event_user (though a GroupUser with name event_user works as well) rather than a user.
%>
<% user = event_user.user %>
<div class="span4 dashboard-user-<%= event_user.id %>">
  <div class="well dashboard-user dashboard-paid-user">
    <div class="profile-image image-user-<%= user.id %>">
      <%= profile_image_tag user, :thumb %> 
    </div>
    <div class="user">
      <%= link_to user_name(user), user %>
      <% if user.online? %>
        <div class="user-online" rel="tooltip" title="This user is online" data-placement="top"></div>
      <% end %>
      <br />
      <strong>Paid:</strong> <%= distance_of_time_in_words_to_now event_user.paid_at %> ago
    </div>
    <div class="clearfix"></div>
  </div>
</div>