<%
  # NOTE: This partial takes in an EventUser with name event_user (though a GroupUser with name event_user works as well) rather than a user.
%>
<% user = event_user.user %>
<li class="member member-<%= user.id %>">
  <div class="profile-image image-user-<%= user.id %>" data-placement="right">
    <%= profile_image_tag user, :thumb %> 
  </div>
  <div class="user">
    <%= link_to user_name(user), user %>
    <% if user.online? %>
      <div class="user-online" rel="tooltip" title="This user is online" data-placement="top"></div>
    <% end %>
  </div>
  <div class="status">
    <% if @event.present? %>
      <% if @event.fundraiser? %>
        <% if user == @event.organizer %>
          Event Organizer
        <% elsif event_user.paid? %>
          Contributed <%= number_to_currency event_user.paid_total %>
        <% else %>
          Has Not Contributed
        <% end %>
      <% else %>
        <% if user == @event.organizer %>
          Event Organizer
        <% elsif event_user.paid? %>
          Paid
        <% else %>
          Unpaid
        <% end %>
      <% end %>
    <% elsif @group.present? %>
      <% if @group.is_admin?(user) %>
        Group Organizer
      <% else %>
        Member
      <% end %>
    <% end %>
  </div>
  <% if signed_in? && @event.present? %>
    <% if @event.can_nudge?(current_user, user, @event_user, event_user) %>
      <div class="nudge">
        <span class="link-user-<%= user.id %>"><%= link_to "Nudge!", nudge_event_event_user_path(@event, @event.event_user_of(user)), class: "btn btn-primary btn-nudge", method: :put, remote: true %></span>
      </div>
    <% elsif @event.has_nudged?(current_user, user) %>
      <div class="nudge">
        <%= link_to "Nudged", "#", class: "btn btn-primary disabled" %>
      </div>
    <% end %>
  <% end %>
  <div class="clearfix"></div>
</li>