<h2>Edit User Settings</h2>

<div class="tabbable tabs-left tabs-settings">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#accounts" data-toggle="tab">Linked Accounts</a></li>
    <li><a href="#profile" data-toggle="tab">Profile Information</a></li>
    <li><a href="#password" data-toggle="tab">Email and Password</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="accounts">
      <h3>Facebook</h3>
      <% if !current_user.facebook %>
        Facebook is not linked. <a href="/users/auth/facebook">Would you like to link it?</a>
      <% else %>
        Facebook account <strong><%= current_user.facebook.uid %></strong> is currently linked.
      <% end %>

      <h3>Twitter</h3>
      <% if !current_user.twitter %>
        Twitter is not linked. <a href="/users/auth/twitter">Would you like to link it?</a>
      <% else %>
        Twitter account <strong><%= current_user.twitter.uid %></strong> is currently linked.
      <% end %>

      <h3>Dwolla</h3>
      <% if !current_user.dwolla %>
        Dwolla is not linked. <a href="/users/auth/dwolla">Would you like to link it?</a>
      <% else %>
        Dwolla account <strong><%= current_user.dwolla.uid %></strong> is currently linked.
      <% end %>
    </div>
    <div class="tab-pane" id="profile">
      
    </div>
    <div class="tab-pane" id="password">
      <% resource_name = "user" %>
      <%= form_for(current_user, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages(@errors) %>
        
        <div class="control-group">
          <%= f.label :email, class: 'control-label' %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password %> <i class: 'control-label'>(leave blank if you don't want to change it)</i>
          <div class="controls">
            <%= f.password_field :password, :autocomplete => "off" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :current_password %> <i class: 'control-label'>(we need your current password to confirm your changes)</i>
          <div class="controls">
            <%= f.password_field :current_password %>
          </div>
        </div>

        <div><%= f.submit "Update", class: "btn btn-primary btn-large" %></div>
      <% end %>
    </div>
  </div>
</div>