<% provide(:title, user_name(@user)) %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <h2 class="pull-left"><%= user_name(@user) %></h2>
        <% if @user.online? %>
          <div class="user-online block pull-left push-top-title push-left-small">ONLINE</div>
        <% else %>
          <div class="user-offline block pull-left push-top-title push-left-small">OFFLINE</div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row" id="user-wrapper">
    <div class="span3" id="user-left">
      <%= profile_image_tag @user, :large %>

      <div class="large-statistic push-top">
        <span class="count"><%= @user.organized_events.count %></span> organized <%= @user.organized_events.count == 1 ? 'event' : 'event'.pluralize %>
      </div>
      <div class="large-statistic">
        <span class="count" id="member-event-count"><%= @user.member_events.count %></span> member <%= @user.member_events.count == 1 ? 'event' : 'event'.pluralize %>
      </div>

      <% unless @user == current_user %>
        <div class="invite-to-event-button push-top push-bottom">
          <a href="#" class="invite-to-events btn btn-block btn-primary">Invite To Events</a>
          <ul class="events-to-invite dropdown-menu">
            <% unless @your_organized_and_public_events.empty? %>
              <%= render partial: 'events/invite_events', collection: @your_organized_and_public_events, as: :event %>
            <% else %>
              <li>You don't have any events!</li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="span9" id="user-right">
      <% if @user == current_user %>
        <h3>Your Upcoming Events</h3>
      <% else %>
        <h3>Upcoming Events</h3>
      <% end %>
      <div id="upcoming-events" <%= "class=\"empty\"" if @upcoming_public_and_shared_events.empty? %>>
        <% if @upcoming_public_and_shared_events.empty? %>
          <span id="no-upcoming-events">No upcoming events!</span>
        <% else %>
          <%= render partial: "events/profile_event", collection: @upcoming_public_and_shared_events, as: :event %>
        <% end %>
      </div>
      <div class="clearfix"></div>

      <% if @user == current_user %>
        <h3>Your Past Events</h3>
      <% else %>
        <h3>Past Events</h3>
      <% end %>

      <div id="past-events" class="events-third-list<% if @past_public_and_shared_events.empty? %>  empty<% end %>">
        <% if @past_public_and_shared_events.empty? %>
          No past events!
        <% else %>
          <%= render partial: "events/profile_event", collection: @past_public_and_shared_events, as: :event %>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<% content_for(:before_body_end) do %>
  <script type="text/javascript">
    $(document).ready(function()
    {
      $('#user-wrapper').autoSize({
        fixed: '#user-left',
        fluid: '#user-right',
        minSize: 767
      });
    });
  </script>
<% end %>
