<% if @user == current_user %>
    <% provide(:title, 'Your Profile Page') %>
<% else %>
    <% provide(:title, "#{@user.name}'s Profile Page") %>
<% end %>
<div class="row">
  <div class="span3">
    <h2><%= @user.name %> <small>(<%= @user.username %>)</small></h2>
    <div class="well">
      <%= image_tag avatar_url(@user) %>
    </div>
  </div>
  <div class="span5">
    &nbsp;
  </div>

  <% if current_user != @user %>
    <div class="span4">
      <div class="well sidebar-nav">
        <% if current_user.friends_with?(@user) %>
          <%= link_to "Friends <i class=\"icon-ok\"></i>".html_safe, "#", class: "btn btn-primary btn-block disabled push-bottom" %>
        <% elsif current_user.friends_sent?(@user) %>
          <%= link_to "Friend Request Sent", "#", class: "btn btn-primary btn-block disabled push-bottom" %>
        <% elsif current_user.friends_received?(@user) %>
          <%= link_to "Accept Friend Request?", accept_friend_user_path(@user), class: "btn btn-success btn-block push-bottom pull-left" %>
          <%= link_to "Deny Friend Request?", deny_friend_user_path(@user), class: "btn btn-danger btn-block push-bottom pull-right" %>
        <% else %>
          <%= link_to "Add Friend", friend_user_path(@user), class: "btn btn-primary btn-block push-bottom" %>
        <% end %>
        <%= form_for @payment do |f| %>
          <div class="input-prepend pull-left">
            <span class="add-on">$</span><%= f.text_field :amount, placeholder: "Enter Amount" %>
          </div>
          <%= f.hidden_field :unfinished, value: true %>
          <%= f.hidden_field :payer_id, value: @user.id %>
          <%= f.submit "Request", class: "btn pull-right" %>
          <div class="clearfix"></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>