<% provide(:title, "Forgot Password?") %>
<div class="page-header">
  <h2>Forgot your password?</h2>
</div>

<div class="row">
  <div class="span6">
    <div class="well">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="control-group">
          <%= f.label :email, class: 'control-label' %>
          <div class="controls">
            <%= f.email_field :email, class: 'input-block-level', placeholder: 'email@example.com' %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit "Send reset instructions", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>