<div id="stub-login-modal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h2>You're A Guest!</h2>
  </div>

  <div class="modal-body">
    <p>Hey, you're logged in as a guest! You should consider making a full account. Full accounts are more secure and are essential for taking advantage of all that PayWithMe has to offer.</p>
    <div class="row-fluid">
      <div class="span6">
        <h3>Manual Registration</h3>
        <div class="well">
          <%= form_for(@stub_user, url: user_registration_path()) do |f| %>
            <div class="control-group">
              <%= f.label :name, class: 'control-label' %>
              <div class="controls">
                <%= f.text_field :name, class: "input-block-level", placeholder: "First and Last Name" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :email, class: 'control-label' %>
              <div class="controls">
                <%= f.email_field :email, class: "input-block-level", placeholder: "email@example.com" %>
              </div>
            </div>
        
            <div class="control-group">
              <%= f.label :password, class: 'control-label' %>
              <div class="controls">
                <%= f.password_field :password, class: "input-block-level", placeholder: "Make it secure!" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :password_confirmation, "Confirm Password", class: 'control-label' %>
              <div class="controls">
                <%= f.password_field :password_confirmation, class: "input-block-level", placeholder: "Just to be sure!" %>
              </div>
            </div>

            <div class="form-actions">
              <%= f.submit "Sign up", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="span6">
        <h3>Quick Registration</h3>
        <div class="well">
          <%= link_to "Register With Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary input-block-level push-bottom" %>
          <%= link_to "Register With Twitter", user_omniauth_authorize_path(:twitter), class: "btn btn-primary input-block-level" %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Continue as guest</button>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function()
	{
		$("#stub-login-modal").modal();
	});
</script>