<tr>
  <td>
    <%= link_to event.title, event %>
  </td>
  <td>
    <%= link_to event.organizer.name, event.organizer %>
  </td>
  <td>
    <%= event.event_users.count %>
  </td>
  <td>
    <%= distance_of_time_in_words_to_now event.created_at %> ago
  </td>
  <% if full %>
    <td>
      <% if event.divide_total? %>
        <span rel="tooltip" title="Divide Total">DT</span>
      <% elsif event.divide_per_person? %>
        <span rel="tooltip" title="Divide Per Person">DPP</span>
      <% else %>
        <span rel="tooltip" title="Fundraiser">F</span>
      <% end %>
    </td>
    <td>
      <% if event.public? %>
        <i class="icon-globe" rel="tooltip" title="Public"></i>
      <% else %>
        <i class="icon-lock" rel="tooltip" title="Private"></i>
      <% end %>
    </td>
    <td>
      <%= event.payment_methods.collect(&:name).join(", ") %>
    </td>
    <td>
      <% if event.fundraiser? %>
        n/a
      <% else %>
        <%= humanized_money_with_symbol event.split_amount %>
      <% end %>
    </td>
  <% end %>
</tr>