<div class="well event <% if current_user == event.organizer %>organized<% end %>">
  <a href="<%= event_path(event) %>">
    <div class="underlayed-image" style="background-image: url('<%= event_image_path(event, :full) %>');"></div>
  </a>
  <div class="info">
    <div class="icons">
      <% if event.public? %>
        <i class="icon-globe" rel="tooltip" title="Public event" data-placement="left"></i>
      <% else %>
        <i class="icon-lock" rel="tooltip" title="Private event" data-placement="left"></i>
      <% end %>
      <% if current_user == event.organizer %>
          <i class="icon-wrench" rel="tooltip" title="You organize this event!" data-placement="right"></i>
      <% end %>
    </div>
    <h4>
      <%= link_to truncate(event.title, :length => 32, :separator => ' '), event %>
    </h4>
    <div class="count">
      <%= pluralize(event.paying_members.count, "member") %>
    </div>
    <div class="due_at">
      <% if event.due_at < Time.now %>
        Was due
      <% else %>
        Due
      <% end %> on <%= event.due_at.to_s(:ordinal) %>
    </div>
  </div>
</div>
