<div class="wizard-card" id="wizard-card-3" style="display: block;">
  <div class="wizard-card-title"><h3>Step 3: Event Details</h3></div>
  <div class="wizard-card-body">
    <div class="control-group required">
      <%= f.label :title, "What is the title of your collection? (required)" %>
      <div class="controls">
        <%= f.text_field :title, class: "input-block-level", placeholder: "Spring Formal 2013" %>
      </div>
    </div>
    <div class="control-group optional">
      <%= f.label :description, "Describe your collection in a few sentences. (optional)" %>
      <div class="controls">
        <%= f.text_area :description, class: "input-block-level", rows: 5 %>
      </div>
    </div>
    <div class="control-group required">
      <%= f.label :due_at, "When do you want the money by? (required)" %>
      <div class="controls due_at autosize <%= "field_with_error" if @event.errors[:due_at].present? %>">
        <%= f.text_field :due_at_date, class: "datepicker input-border-box", placeholder: "mm/dd/yyyy" %>
        <%= f.text_field :due_at_time, class: "timepicker input-medium input-border-box", placeholder: "hh:mm" %>
      </div>
    </div>
    <div class="control-group optional">
      <%= f.label :image, "Do you have an image for the event? (optional)" %>
      <%= f.hidden_field :image_type %>
      <div class="btn-group input-block-level" id="event_image_type_btn_group" data-toggle="buttons-radio">
        <button type="button" class="btn third <%= "active" if @event.image_type == :default_image %>" data-value="default_image" data-name="default_image">No Image</button>
        <button type="button" class="btn third <%= "active" if @event.image_type == :url %>" data-value="url" data-name="url">URL</button>
        <button type="button" class="btn third last <%= "active" if @event.image_type %>" data-value="upload" data-name="upload">Image Upload</button>
      </div>
      <div class="event_image_type_option btn_group_option push-top-small" id="event_image_type_url">
        <div class="control-group optional">
         <%= f.label :image_url, "What is the URL of the image?", class: 'control-label' %>
         <%= f.text_field :image_url, placeholder: "http://example.com/image.png", class: 'input-block-level'  %>
        </div>
      </div>
      <div class="event_image_type_option btn_group_option push-top-small" id="event_image_type_upload">
        <div class="control-group optional">
          <%= f.label :image, "Select an image to upload it.", class: 'control-label' %>
          <%= f.file_field :image, accept: 'image' %>
        </div>
      </div>
    </div>

    <%= f.submit "#{submit_text(@event)} event and send invitations", class: "btn btn-primary btn-block push-top-small" %>
  </div>
</div>