<%= render 'shared/error_messages', object: f.object %>
<div class="row push-top">
  <div class="span6">
    <h3>Event Information</h3>
    <div class="well">
      <%= f.label :title %>
      <%= f.text_field :title, class: "input-block-level" %>
      <%= f.label :description %>
      <%= f.text_area :description, class: "input-block-level", rows: 5 %>
      <%= f.label :start_at %>
      <div class="start_at">
        <%= f.text_field :start_at_date, class: "datepicker input-border-box", placeholder: "mm/dd/yyyy" %>
        <%= f.text_field :start_at_time, class: "timepicker input-medium input-border-box", placeholder: "hh:mm" %>
      </div>
    </div>
  </div>
  <div class="span6">
    <h3>Payment Information</h3>
    <div class="well">
      <%= f.label :due_at %>
      <div class="due_at">
        <%= f.text_field :due_at_date, class: "datepicker input-border-box", placeholder: "mm/dd/yyyy" %>
        <%= f.text_field :due_at_time, class: "timepicker input-medium input-border-box", placeholder: "hh:mm" %>
      </div>
      <%= f.hidden_field :division_type %>
      <div class="btn-group input-block-level push-bottom" id="event_division_type_btn_group" data-toggle="buttons-radio">
        <button type="button" class="btn third" data-name="total" data-value="1" title="You need a total amount split evenly.">Divide among group</button>
        <button type="button" class="btn third" data-name="split" data-value="2" title="Each person must pay a certain amount.">Amount Per Person</button>
        <button type="button" class="btn third last" data-name="fundraise" data-value="3" title="Any amount can be paid.">Fundraise/Donations</button>
      </div>

      <div class="event_division_type_option push-bottom" id="event_division_type_total">
        <%= f.label :total_amount, "Total Amount" %>
        <div class="input-prepend">
          <span class="add-on">$</span>
          <%= f.text_field :total_amount, class: "input-block-level" %>
        </div>
      </div>

      <div class="event_division_type_option push-bottom" id="event_division_type_split">
        <%= f.label :split_amount, "Amount Per Person" %>
        <div class="input-prepend">
          <span class="add-on">$</span>
          <%= f.text_field :split_amount, class: "input-block-level" %>
        </div>
      </div>

      <%= f.label :fee_type, "Fee Setup" %>
      <%= f.hidden_field :fee_type %>
      <div class="btn-group input-block-level push-bottom" id="event_fee_type_btn_group" data-toggle="buttons-radio">
        <button type="button" class="btn half" data-name="organizer" data-value="1" title="You will pay the fees.">Absorb Fees</button>
        <button type="button" class="btn half" data-name="members" data-value="2" title="The members will pay the fees.">Members Pay Fees</button>
      </div>

      <%= f.label :privacy_type, "Event Privacy" %>
      <%= f.hidden_field :privacy_type %>
      <div class="btn-group input-block-level push-bottom" id="event_privacy_type_btn_group" data-toggle="buttons-radio">
        <button type="button" class="btn half" data-name="private" data-value="1" title="Anyone can join.">Public Event</button>
        <button type="button" class="btn half" data-name="public" data-value="2" title="Only those invited can join.">Private Event</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Invite Members</h3>
    <div class="well">
      <div class="alert alert-error hidden" id="add_member_error">
      </div>
      <div class="input-append">
        <%= text_field :member, :name, placeholder: "Search for friends or enter email", class: "span4" %>
        <%= link_to "Add", "#", class: "btn", id: "add_member" %>
      </div>
      <%= f.hidden_field :members, value: (@member_emails.to_json if @member_emails) %>
      <div id="invited_members">
        <%= render partial: "users/invited_user", collection: @event.independent_members %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="span6">
    <h3>Invite Groups</h3>
    <div class="well">
      <div class="alert alert-error hidden" id="add_group_error">
      </div>
      <div class="input-append">
        <%= text_field :group, :name, placeholder: "Search for groups", class: "span4" %>
        <%= link_to "Add", "#", class: "btn", id: "add_group" %>
      </div>
      <%= f.hidden_field :groups, value: (@group_ids.to_json if @group_ids) %>
      <div id="invited_groups">
        <%= render partial: "groups/invited_group", collection: @event.groups %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= f.submit "#{submit_text(@event)} event", class: "btn btn-primary btn-block" %>
  </div>
</div>

<% content_for(:before_body_end) do %>
  <!-- TODO: Move this elsewhere -->
  <script type="text/javascript">
    $(document).ready(function()
    {
      $('.datepicker').datepicker({
        disableFocus: true
      });
      $('.timepicker').timepicker({
        disableFocus: true
      });
      $('.btn-group .btn').tooltip({
        container: 'body'
      });

      $.each(['due_at', 'start_at'], function(index, name)
      {
        $('.' + name).autoSize({
          fixed: '#event_' + name + '_time',
          fluid: '#event_' + name + '_date',
          offset: 4
        });
      });

      $("#event_division_type").buttonGroup();
      $("#event_fee_type").buttonGroup();
      $("#event_privacy_type").buttonGroup();

      $('#member_name').addSomething({
        somethings: <%= @member_emails.to_json.html_safe || "[]" %>
      });

      $("#group_name").addSomething({
        addButtonSelector: "#add_group",
        somethingsInputSelector: "#event_groups",
        somethingsSelector: "#invited_groups",
        errorSelector: "#add_group_error",
        source: "<%= search_groups_path(format: :json) %>",
        idAttribute: "id",
        displayAttribute: "title",
        allowNameless: false,
        somethings: <%= @group_ids.to_json.html_safe || "[]" %>,
        onValidate: function(something)
        {
          return;
        },
        onCreate: function(something)
        {
          var $something;
          $something = $("<div></div>").addClass("member member_with_email")
            .append($("<div></div>")
              .addClass("email")
            .html(something.title)
            )
          ;
          return $something;
        }
      });
    });
  </script>
<% end %>