<%= render 'shared/error_messages', object: f.object %>
<div class="row push-top">
  <div class="span6">
    <h3>Event Information</h3>
    <div class="well">
      <%= f.label :title %>
      <%= f.text_field :title, class: "input-block-level" %>
      <%= f.label :description %>
      <%= f.text_area :description, class: "input-block-level", rows: 5 %>
      <div class="control-group">
        <%= f.label :image, class: 'control-label' %>
        <div class="controls">
          <%= f.hidden_field :image_type %>
          <div class="btn-group input-block-level" id="event_image_type_btn_group" data-toggle="buttons-radio">
            <button type="button" class="btn third <%= "active" if @event.image_type == :url %>" data-value="url" data-name="url">URL</button>
            <button type="button" class="btn third <%= "active" if @event.image_type %>" data-value="upload" data-name="upload">Image Upload</button>
            <button type="button" class="btn third last <%= "active" if @event.image_type == :default_image %>" data-value="default_image" data-name="default_image">None</button>
          </div>

          <div class="event_image_type_option push-top" id="event_image_type_default_image">
            <div class="push-bottom">The default:</div>
            <div class="push-bottom">
              <%= image_tag "default_event_image.png", width: Figaro.env.send(:medium.to_s+"_size") %>
            </div>
          </div>

          <div class="event_image_type_option push-top" id="event_image_type_url">
            <% if @event.image_url.present? %>
              <div class="push-bottom">Current URL:</div>
              <div class="push-bottom">
                <%= event_image_tag(@event, :medium) %>
              </div>
            <% end %>
            <div class="control-group">
              <%= f.label :image_url, "Event Image URL", class: 'control-label' %>
              <div class="controls">
                <%= f.text_field :image_url, placeholder: "http://example.com/image.png", class: 'input-block-level'  %>
              </div>
            </div>
          </div>

          <div class="event_image_type_option push-top" id="event_image_type_upload">
            <% if @event.image.present? %>
              <div class="push-bottom">Current uploaded image:</div>
              <div class="push-bottom">
                <%= event_image_tag(@event, :medium) %>
              </div>
            <% end %>
            <div class="control-group">
              <%= f.label :image, "Image File", class: 'control-label' %>
              <div class="controls">
                <%= f.file_field :image, accept: 'image' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <h3>Payment Information</h3>
    <div class="well">
      <%= f.label :due_at %>
      <div class="due_at <%= "field_with_error" if @event.errors[:due_at].present? %>">
        <%= f.text_field :due_at_date, class: "datepicker input-border-box", placeholder: "mm/dd/yyyy" %>
        <%= f.text_field :due_at_time, class: "timepicker input-medium input-border-box", placeholder: "hh:mm" %>
      </div>
      <%= f.hidden_field :division_type %>
      <div class="btn-group input-block-level push-bottom" id="event_division_type_btn_group" data-toggle="buttons-radio">
        <button type="button" class="btn third" data-name="total" data-value="1" title="You need a total amount split evenly.">Divide among group</button>
        <button type="button" class="btn third" data-name="split" data-value="2" title="Each person must pay a certain amount.">Amount Per Person</button>
        <button type="button" class="btn third last" data-name="fundraise" data-value="3" title="Any amount can be paid as a donation.">Fundraise/Donations</button>
      </div>

      <div class="event_division_type_option push-bottom" id="event_division_type_total">
        <%= f.label :total_amount, "Total Amount" %>
        <div class="input-prepend">
          <span class="add-on">$</span>
          <%= f.text_field :total_amount, class: "input-block-level" %>
        </div>
      </div>

      <div class="event_division_type_option push-bottom" id="event_division_type_split">
        <%= f.label :split_amount, "Amount Per Person" %>
        <div class="input-prepend">
          <span class="add-on">$</span>
          <%= f.text_field :split_amount, class: "input-block-level" %>
        </div>
      </div>

      <%= f.label :privacy_type, "Event Privacy" %>
      <%= f.hidden_field :privacy_type %>
      <div class="btn-group input-block-level push-bottom" id="event_privacy_type_btn_group" data-toggle="buttons-radio">
        <button type="button" class="btn half" data-name="private" data-value="1" title="Anyone can join and view the event.">Public Event</button>
        <button type="button" class="btn half" data-name="public" data-value="2" title="Only invited can join and view the event.">Private Event</button>
      </div>

      <%= f.label :payment_methods_raw, "Accepted Payment Methods (Select One Or More)" %>
      <%= f.hidden_field :payment_methods_raw %>
      <div class="btn-group input-block-level push-bottom" id="event_payment_methods_raw_btn_group"  data-toggle="buttons-checkbox">
        <button type="button" class="btn third" data-name="cash" data-value="1" title="Manually mark cash payers as paid.">Cash</button>
        <button type="button" class="btn third" data-name="paypal" data-value="2" title="You need a linked PayPal account.">PayPal</button>
        <button type="button" class="btn third last" data-name="dwolla" data-value="3" title="You need a linked Dwolla account.">Dwolla</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3 class="pull-left">Invite Members</h3>
    <a href="#" id="btn-bulk-invite" class="btn btn-primary pull-right" rel="tooltip" title="Submit a comma-separated list of emails">Bulk invitation mode</a>
    <div class="clearfix"></div>
    <div class="well">
      <div class="alert alert-error hidden" id="add_member_error">
      </div>
      <div class="input-append" id="single-invite">
        <%= text_field :member, :name, placeholder: "Search for friends or enter email", class: "span4" %>
        <%= link_to "Add", "#", class: "btn", id: "add_member" %>
      </div>
      <div id="bulk-invite" class="hidden">
         <%= text_area :member, :names, placeholder: "Enter email addresses separated by commas", class: "input-block-level", rows: 3 %>
        <%= link_to "Add", "#", class: "btn btn-block", id: "add_members" %>
      </div>
      <%= f.hidden_field :members, value: (@member_emails.to_json if @member_emails) %>
      <div id="invited_members">
        <% @event.independent_members.each do |user| %>
          <%= render 'users/invited_user', mustache: user_for_mustache(user) %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="span6">
    <h3>Invite Groups</h3>
    <div class="well">
      <div class="alert alert-error hidden" id="add_group_error">
      </div>
      <div class="input-append">
        <%= text_field :group, :name, placeholder: "Search for groups", class: "span4" %>
        <%= link_to "Add", "#", class: "btn", id: "add_group" %>
      </div>
      <%= f.hidden_field :groups, value: (@group_ids.to_json if @group_ids) %>
      <div id="invited_groups">
        <% @event.groups.each do |group| %>
          <%= render 'groups/invited_group', mustache: group_for_mustache(group) %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= f.submit "#{submit_text(@event)} event and send invitations", class: "btn btn-primary btn-block" %>
  </div>
</div>

<script type="text/html" id="invited_user_template">
  <%= render 'users/invited_user' %>
</script>

<script type="text/html" id="invited_group_template">
  <%= render 'groups/invited_group' %>
</script>

<% content_for(:before_body_end) do %>
  <!-- TODO: Move this elsewhere (please leave the image selection js)-->
  <script type="text/javascript">
    $(document).ready(function()
    {
      $('.datepicker').datepicker({
        disableFocus: true
      });

      $('.timepicker').timepicker({
        disableFocus: true
      });

      $('.btn-group .btn').tooltip({
        container: 'body'
      });

      $.each(['due_at'], function(index, name)
      {
        $('.' + name).autoSize({
          fixed: '#event_' + name + '_time',
          fluid: '#event_' + name + '_date',
          offset: 4
        });
      });

      $("#event_division_type").buttonGroup();
      $("#event_fee_type").buttonGroup();
      $("#event_privacy_type").buttonGroup();
      $("#event_image_type").buttonGroup();
      $("#event_payment_methods_raw").buttonGroup();

      $('#member_name').addSomething({
        somethings: <%= @member_emails.to_json.html_safe || "[]" %>,
        bulkEnabled: true
      });

      $("#group_name").addSomething({
        addButtonSelector: "#add_group",
        somethingsInputSelector: "#event_groups",
        somethingsSelector: "#invited_groups",
        somethingsTemplateSelector: "#invited_group_template",
        errorSelector: "#add_group_error",
        source: "<%= search_groups_path(format: :json) %>",
        idAttribute: "id",
        displayAttribute: "title",
        allowNameless: false,
        somethings: <%= @group_ids.to_json.html_safe || "[]" %>,
        onValidate: function(something)
        {
          return;
        },
      });
    });
  </script>
<% end %>
