<div class="wizard-card" id="wizard-card-1" style="display: block;">
  <div class="wizard-card-title"><h3>Step 1: Event Details</h3></div>
  <div class="wizard-card-body">
    <div class="control-group required">
      <%= f.label :title, "What is the title of your collection? (required)" %>
      <div class="controls">
        <%= f.text_field :title, class: "input-block-level", placeholder: "Spring Formal 2013" %>
      </div>
    </div>
    <div class="control-group optional">
      <%= f.label :description, "Describe your collection in a few sentences. (optional)" %>
      <div class="controls">
        <%= f.text_area :description, class: "input-block-level", rows: 5 %>
      </div>
    </div>
    <div class="control-group required">
      <%= f.label :due_at, "When do you want the money by? (required)" %>
      <div class="controls due_at autosize <%= "field_with_error" if @event.errors[:due_at].present? %>">
        <%= f.text_field :due_at, value: @event.due_at.to_date.to_s, class: "datepicker input-block-level", placeholder: "mm/dd/yyyy" %>
      </div>
    </div>
    <div class="control-group optional">
      <%= f.label :image, "Do you have an image for the event? (optional)" %>
      <%= f.hidden_field :image_type %>
      <div class="btn-group input-block-level" id="event_image_type_btn_group" data-toggle="buttons-radio">
        <button type="button" class="btn third <%= "active" if @event.image_type == :default_image %>" data-value="default_image" data-name="default_image">No Image</button>
        <button type="button" class="btn third <%= "active" if @event.image_type == :url %>" data-value="url" data-name="url">URL</button>
        <button type="button" class="btn third last <%= "active" if @event.image_type == :upload %>" data-value="upload" data-name="upload">Image Upload</button>
      </div>
      <div class="event_image_type_option btn_group_option push-top-small" id="event_image_type_url">
        <div class="control-group optional">
         <%= f.label :image_url, "What is the URL of the image?", class: 'control-label' %>
         <%= f.text_field :image_url, placeholder: "http://example.com/image.png", class: 'input-block-level'  %>
        </div>
      </div>
      <div class="event_image_type_option btn_group_option push-top-small" id="event_image_type_upload">
        <div class="control-group optional">
          <%= f.label :image, "Select an image to upload it.", class: 'control-label' %>
          <%= f.file_field :image, accept: 'image' %>
        </div>
      </div>
    </div>

    <div class="control-group required">
      <%= f.label :collection_type, "What is easiest for describing how much you are collecting? (required)" %>
      <div class="controls">
        <%= f.select :collection_type, options_for_select([
          ["I need a total amount of money. For example: $500 for a new stereo.", 1],
          ["I need a certain amount from each person. For example: $30 for new uniforms.", 2],
          ["Anyone can pay as much as they want. For example, a fundraiser.", 3],
          ["People choose which items and how many they want. For example: concert tickets, t-shirts, hats.", 4]
        ], @event.collection_type), {}, { class: 'input-block-level js-block-controller', data: { group: 'collection-type' } } %>
        
        <div class="js-block" data-group="collection-type" data-id="1">
          <%= f.label :total, "How much do you need in total? (required)" %>
          <div class="input-prepend autosize">
            <span class="add-on">$</span>
            <%= f.text_field :total, class: "input-block-level" %>
          </div>
        </div>

        <div class="js-block" data-group="collection-type" data-id="2">
          <%= f.label :per_person, "How much do you need each person to pay? (required)" %>
          <div class="input-prepend autosize">
            <span class="add-on">$</span>
            <%= f.text_field :per_person, class: "input-block-level" %>
          </div>
        </div>

        <div class="js-block" data-group="collection-type" data-id="3">
          <%= f.label :donation_goal, "What is the goal amount for the fundraiser? (required)" %>
          <div class="input-prepend autosize push-bottom-small">
            <span class="add-on">$</span>
            <%= f.text_field :donation_goal, class: "input-block-level" %>
          </div>

          <%= f.label :minimum_donation, "What is the minimum amount that someone can donate? (optional)" %>
          <div class="input-prepend autosize">
            <span class="add-on">$</span>
            <%= f.text_field :minimum_donation, class: "input-block-level" %>
          </div>
        </div>

        <div class="js-block" data-group="collection-type" data-id="4">
          <div id="items">
            <% form_counter = 0 %>
            <%= f.fields_for :items do |builder| %>
              <% form_counter = form_counter + 1 %>
              <%= render 'items/form', f: builder, form_counter: form_counter %>
            <% end %>
          </div>
          <%= f.link_to_add "Add an item", :items, class: "btn btn-block", data: { target: "#items" } %>
        </div>

      </div>
    </div>

    <%= link_to "Continue to next step".html_safe, "#", class: "btn btn-primary btn-block push-top-small wizard-submit", id: "wizard-submit-1" %>
  </div>
</div>