<div class="wizard-card" id="wizard-card-2">
  <div class="wizard-card-title"><h3>Step 2: Invite Members</h3></div>
  <div class="wizard-card-body">
    <div class="control-group required">
      <%= f.label :privacy_type, "Do you want everyone to be able to see your event? (required)" %>
      <div class="controls">
        <%= f.hidden_field :privacy_type %>
        <div class="btn-group input-block-level push-bottom-small" id="event_privacy_type_btn_group" data-toggle="buttons-radio">
          <button type="button" class="btn half" data-name="private" data-value="1">Public event: anyone can join.</button>
          <button type="button" class="btn half" data-name="public" data-value="2">Private event: only those I invite.</button>
        </div>
      </div>
    </div>

    <h3 style="float: left;">Invite members</h3>
    <a href="#" id="btn-bulk-invite" class="btn btn-primary pull-right" rel="tooltip" title="Submit a comma-separated list of emails">Bulk invitation mode</a>
    <div class="clearfix"></div>
    <div class="alert alert-error hidden" id="add_member_error">
    </div>
    <div class="input-append" id="single-invite">
      <%= text_field :member, :name, placeholder: "Search for friends or enter email", class: "span4" %>
      <%= link_to "Add", "#", class: "btn", id: "add_member" %>
    </div>
    <div id="bulk-invite" class="hidden">
       <%= text_area :member, :names, placeholder: "Enter email addresses separated by commas, spaces, or new lines", class: "input-block-level", rows: 3 %>
      <%= link_to "Add", "#", class: "btn btn-block", id: "add_members" %>
    </div>
    <%= f.hidden_field :members, value: (@member_emails.to_json if @member_emails) %>
    <div id="invited_members">
      <% @event.independent_members.each do |user| %>
        <%= render 'users/invited_user', mustache: user_for_mustache(user) %>
      <% end %>
      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <%= f.submit "#{submit_text(@event)} event and send invitations", class: "btn btn-primary btn-block push-top-small" %>
  </div>
</div>