<% unless Time.now > event.start_at || Time.now > event.due_at %>
  <li>
    <%= form_for [event, @event_user], remote: true do |f| %>
      <span id="event-<%= event.id %>">
        <% if event.members.include?(@user) %>
          <i class="icon-check icon-white"></i>
        <% else %>
          <i class="icon-plus icon-white"></i>
        <% end %>
      </span>
       <a href="#" class="event-to-invite"><%= event.title %></a>
      <%= f.hidden_field :event_id, :value => event.id %>
      <%= f.hidden_field :user_id, :value => @user.id %>
    <% end %>
  </li>
<% end %>
