<% provide(:title, "#{@event.title} Dashboard") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <div class="page-header">
          <h2>
            <%= @event.title %> Dashboard
          </h2>
          <em>
            <small>
              <% if @event.public? %>
                Public event
              <% else %>
                Private event
              <% end %>
              - Organized by <%= @event.organizer.name %>
            </small>
          </em>
        </div>
      </div>
      <div class="span3">
        <%= link_to "Return to event", event_path(@event), class: "btn btn-primary btn-block push-top-title" %>
        <%= link_to "Edit event", edit_event_path(@event), class: "btn btn-primary btn-block push-top-title-second" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span8">
      <h3>Quick Statistics</h3>
      <div class="well" id="quick-statistics">
        <% if @event.paid_percentage > 0 %>
          <div class="progress">
            <div class="bar" style="width: <%= @event.paid_percentage %>%;"><%= number_with_precision @event.paid_percentage, precision: 2 %>%</div>
          </div>
        <% end %>
        <div class="quarter"><strong>Collected:</strong></div>
        <div class="three-quarters" id="money-collected"><%= humanized_money_with_symbol @event.money_collected %></div>
        <div class="clearfix"></div>
        <div class="quarter"><strong>Goal:</strong></div>
        <div class="three-quarters"><%= humanized_money_with_symbol @event.total_amount %></div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="span4">
      <h3>Event Actions</h3>
      <div class="well">
        <%= link_to "Send Email Reminder", new_event_reminder_path(@event), class: "btn btn-primary btn-block" %>
        <% if !@event.fundraiser? %>
          <%= link_to "Create Guest Check-in PDF", admin_pdf_event_path(@event, format: "pdf"), class: "btn btn-primary btn-block", :target => '_blank' %>
        <% end %>
        <%= link_to "Delete Event", @event, class: "btn btn-block btn-danger", data: { confirm: "This is irreversible, are you sure you want to delete this event?" }, method: :delete %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h3>Event Members</h3>
      <table class="table table-striped table-bordered">
        <tr>
          <th style="width:25%">Name</th>
          <th style="width:25%">Paid</th>
          <th style="width:25%">Visited Event?</th>
          <th style="width:25%">Actions</th>
        </tr>
        <%= render collection: @event.paying_members, partial: "users/event_user", as: :user %>
      </table>
    </div>
  </div>
</div>