<% provide(:title, @event.title) %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <div class="page-header">
          <h2>
            <%= @event.title %>
          </h2>
          <em>
            <small>
              <% if @event.public? %>
                Public event
              <% else %>
                Private event
              <% end %>
              - Organized by <%= @event.organizer.name %>
            </small>
          </em>
        </div>
      </div>
      <div class="span3">
        <% if !signed_in? %>
          <%= link_to "Register to join event", new_user_registration_path, class: "btn btn-primary btn-block push-top-title-multiline" %>
        <% elsif current_user == @event.organizer %>
          <%= link_to "Event dashboard", admin_event_path(@event), class: "btn btn-primary btn-block push-top-title-multiline", rel: "tooltip", title: "Manage your event and view statistics" %>
        <% elsif (@event.public? || @event.invitation_type_ids.include?(InvitationType::Type::LINK)) && !@event.members.include?(current_user) %>
          <%= form_for [@event, @event_user] do |f| %>
            <%= f.hidden_field :event_id, :value => @event.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "Join Event", id: "join-event-button", class: "btn btn-primary btn-block push-top-title-multiline" %>
          <% end %>
        <% elsif !@event_user.accepted_invite %>
          <%= link_to "Participate", accept_invite_event_user_path(@event_user), class: "btn btn-primary btn-block push-top-title" %>
          <%= link_to "Don't Participate", reject_invite_event_user_path(@event_user), class: "btn btn-danger btn-block push-top-title-second" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span5">
      <h3>Event Details</h3>
      <div class="underlayed-image-large <%= "default" if @event.image_type == :default_image %>" style="background-image: url('<%= event_image_path(@event, :full) %>');"></div>
      <div class="well description">
        <% if @event.description.present? %>
          <div class="quarter"><strong>Description:</strong></div>
          <div class="three-quarters"><%= @event.description %></div>
          <div class="clearfix"></div>
        <% end %>
        <% if @event.fundraiser? %>
          <div class="quarter"><strong>Fundraiser Goal</strong></div>
          <div class="three-quarters"><%= humanized_money_with_symbol @event.fundraiser_goal %></div>
          <div class="quarter"><strong>Current Progress</strong></div>
          <div class="three-quarters" id="money-collected"><%= humanized_money_with_symbol @event.money_collected %></div>
          <% if @event.minimum_donation.present? %>
            <div class="quarter"><strong>Minimum Donation</strong></div>
            <div class="three-quarters" id="money-collected"><%= humanized_money_with_symbol @event.minimum_donation %></div>
          <% end %>
        <% elsif !@event.fundraiser? || !@event.itemized? %>
          <div class="quarter"><strong>Total Goal</strong></div>
          <div class="three-quarters"><%= humanized_money_with_symbol(@event.total_amount) %></div>
          <div class="quarter"><strong>Per User Goal</strong></div>
          <div class="three-quarters"><%= humanized_money_with_symbol(@event.split_amount) %></div>
        <% end %>
        <div class="quarter"><strong>Money Due</strong></div>
        <div class="three-quarters"><%= @event.due_at.to_s(:ordinal) %></div>
        <div class="clearfix"></div>
        <div class="quarter"><strong>Accepted Payment Methods</strong></div>
        <div class="three-quarters"><%= @event.payment_methods.collect(&:name).join(", ") %></div>
        <div class="clearfix"></div>
      </div>
      
      <% if current_user == @event.organizer || !@event.members.include?(current_user) %>
      <% elsif @event_user.paid? && !@event.fundraiser? %>
        <%= link_to "Paid", "#", class: "btn btn-primary disabled btn-block push-bottom" %>
      <% else %>
        <% if @event.fundraiser? && !@event_user.paid? %>
          <h3>Make Your Contribution</h3>
          <div id="fundraiser">
            <%= form_for @payment, url: fundraiser_payment_path(@payment) do |f| %>
              <div class="input-prepend autosize">
                <span class="add-on">$</span>
                <%= f.text_field :amount, value: nil, placeholder: (@event.minimum_donation.present? ? "Enter amount equal to or greater than #{humanized_money_with_symbol @event.minimum_donation}" : "Enter donation amount"), class: "input-block-level" %> 
              </div>
              <%= f.hidden_field :payment_method_id %>
              <div class="pay-buttons push-top-small push-bottom-small">
                <% if @event.send_with_paypal? %>
                  <%= link_to event_user_pay_text(@event_user, "PayPal", fundraiser: true), "#", class: "btn btn-primary btn-block btn-pay", data: { method: PaymentMethod::MethodType::PAYPAL } %>
                <% end %>
                <% if @event.send_with_dwolla? %>
                  <%= link_to event_user_pay_text(@event_user, "Dwolla", fundraiser: true), "#", class: "btn btn-primary btn-block btn-pay",  data: { method: PaymentMethod::MethodType::DWOLLA } %>
                <% end %>
                <% if @event.send_with_wepay? %>
                  <%= link_to event_user_pay_text(@event_user, "WePay", fundraiser: true), "#", class: "btn btn-primary btn-block btn-pay",  data: { method: PaymentMethod::MethodType::WEPAY } %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% elsif @event.divide_total? || @event.divide_per_person? %>
          <% if @event.send_with_paypal? %>
            <%= event_user_pay_button(@event_user, "PayPal") %>
          <% end %>
          <% if @event.send_with_dwolla? %>
            <%= event_user_pay_button(@event_user, "Dwolla") %>
          <% end %>
          <% if @event.send_with_wepay? %>
            <%= event_user_pay_button(@event_user, "WePay") %>
          <% end %>
        <% elsif @event.itemized? %>
          <h3>Available Items</h3>
          <div class="well" id="items">
            <%= form_for @payment, url: items_payment_path(@payment) do |f| %>
              <%= f.fields_for :item_users do |builder| %>
                <%= render 'items/item', f: builder %>
              <% end %>
              <%= f.hidden_field :payment_method_id %>
              <strong>Total:</strong> <span class="items-total"></span>
              <div class="pay-buttons push-top-small">
                <% if @event.send_with_paypal? %>
                  <%= link_to event_user_pay_text(@event_user, "PayPal"), "#", class: "btn btn-primary btn-block btn-pay", data: { method: PaymentMethod::MethodType::PAYPAL } %>
                <% end %>
                <% if @event.send_with_dwolla? %>
                  <%= link_to event_user_pay_text(@event_user, "Dwolla"), "#", class: "btn btn-primary btn-block btn-pay",  data: { method: PaymentMethod::MethodType::DWOLLA } %>
                <% end %>
                <% if @event.send_with_wepay? %>
                  <%= link_to event_user_pay_text(@event_user, "WePay"), "#", class: "btn btn-primary btn-block btn-pay",  data: { method: PaymentMethod::MethodType::WEPAY } %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <h3>Organizer</h3>
      <div class="well">
        <ul class="members">
          <%= render object: @event.event_user(@event.organizer_id), partial: 'users/user', as: :event_user %>
        </ul>
      </div>

      <% if @event.accepted_invite_event_users.any? %>
        <h3>Attending</h3>
        <div class="well">
          <% if @event.paid?(current_user) %>
            <div class="push-bottom-small">
              <em><small>Nudges remaining: <strong class="nudges-remaining"><%= @event_user.nudges_remaining %></strong></small></em>
            </div>
          <% end %>
          <% if @event.paying_members.any? %>
            <ul class="members">
              <%= render partial: 'users/user', collection: @event.accepted_invite_event_users, as: :event_user %>
            </ul>
          <% else %>
            There are no members. Add some!
          <% end %>
          <% if current_user == @event.organizer %>
            <%= link_to "Invite more guests", edit_event_path(@event), class: "btn btn-primary btn-block push-top-small" %>
          <% end %>
        </div>
      <% end %>

      <% if @event.not_accepted_invite_event_users.any? %>
        <h3>Not Replied</h3>
        <div class="well">
            <ul class="members">
              <%= render partial: 'users/not_accepted_invite_user', collection: @event.not_accepted_invite_event_users, as: :event_user %>
            </ul>
          <% if current_user == @event.organizer %>
            <%= link_to "Invite more guests", edit_event_path(@event), class: "btn btn-primary btn-block push-top-small" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="span7">
      <h3>Chat Board</h3>
      <div class="well">
        <%= render 'messages/form', event: @event, message: @message if signed_in? && @event.members.include?(current_user) %>
        <ul class="messages" data-id="<%= @event.id %>" data-count="<%= @messages_count %>" data-limit="<%= Figaro.env.chat_msg_per_page.to_i %>">
          <% if @messages.any? %>
            <%= render @messages %>
            <% if @messages_count > Figaro.env.chat_msg_per_page.to_i %>
              <span class="load-messages">Loading new messages...</span>
            <% end %>
          <% else %>
            <span class="no-messages">There are no messages.</span>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% content_for(:before_body_end) do %>
  <script type="text/javascript">
    $(document).ready(function()
    {
      $('.message').autoSize({
        fixed: '.profile-image',
        fluid: '.body'
      });

      $('.member').autoSize({
        fixed: '.profile-image',
        fluid: '.body',
        offset: 1
      });
    });
  </script>
<% end %>