<% provide(:title, @event.title) %>
<div class="event-show">
  <div class="row">
    <div class="span9">
      <div class="page-header">
        <h2>
          <%= @event.title %>
          <% if @event.public? %>
            <i class="icon-globe" rel="tooltip" title="Public event" data-placement="right"></i>
          <% else %>
            <i class="icon-lock" rel="tooltip" title="Private event" data-placement="right"></i>
          <% end %>
        </h2>
      </div>
    </div>
    <% if !signed_in? %>
      <div class="span3">
        <%= link_to "Register to join event", new_user_registration_path, class: "btn btn-primary btn-block push-top" %>
      </div>
    <% elsif current_user == @event.organizer %>
      <div class="span3">
        <%= link_to "Event dashboard", admin_event_path(@event), class: "btn btn-primary btn-block push-top-title", rel: "tooltip", title: "Manage your event and view statistics" %>
      </div>
    <% elsif @event.public? && !@event.members.include?(current_user) %>
      <div class="span3">
        <%= form_for [@event, @event_user] do |f| %>
            <%= f.hidden_field :event_id, :value => @event.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "Join Event", id: "join-event-button", class: "btn btn-primary btn-block pull-right push-top" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="span5">
      <h3>Event Details</h3>
      <div class="image <%= "default" if @event.image_type == :default_image %>" style="background-image: url('<%= event_image_path(@event, :full) %>');"></div>
      <div class="well description">
        <% if @event.description.present? %>
          <div class="quarter"><strong>Description:</strong></div>
          <div class="three-quarters"><%= @event.description %></div>
          <div class="clearfix"></div>
        <% end %>
        <% unless @event.fundraiser? %>
          <% if @event.divide_total? %>
            <div class="quarter"><strong>Total Goal</strong></div>
            <div class="three-quarters"><%= number_to_currency(@event.total_amount) %></div>
          <% elsif @event.divide_per_person? %>
            <div class="quarter"><strong>Per User Goal</strong></div>
            <div class="three-quarters"><%= number_to_currency(@event.split_amount) %></div>
          <% end %>
        <% end %>
        <div class="quarter"><strong>Money Due at</strong></div>
        <div class="three-quarters"><%= @event.due_at.strftime("%m/%d/%Y at %I:%M%p") %></div>
        <div class="clearfix"></div>
      </div>

      <h3>Organizer</h3>
      <div class="well">
        <ul class="members">
          <%= render @event.organizer %>
        </ul>
      </div>

      <h3>Guest List</h3>
      <div class="well">
        <% if @event.paying_members.any? %>
          <ul class="members">
            <%= render partial: 'users/user', collection: @event.paying_members, as: :user %>
          </ul>
        <% else %>
          There are no members. Add some!
        <% end %>
      </div>
      <% if current_user == @event.organizer || !@event.members.include?(current_user) %>
      <% elsif @event_user.paid? %>
        <%= link_to "Paid", "#", class: "btn btn-primary disabled btn-block" %>
      <% else %>
        <% if @event.send_with_paypal? %>
          <%= event_user_pay_button(@event_user, "PayPal") %>
        <% end %>
        <% if @event.send_with_dwolla? %>
          <%= event_user_pay_button(@event_user, "Dwolla") %>
        <% end %>
        <% if @event.send_with_wepay? %>
          <%= event_user_pay_button(@event_user, "WePay") %>
        <% end %>
      <% end %>
    </div>
    <div class="span7">
      <h3>Chat Board</h3>
      <div class="well">
        <%= render 'messages/form', event: @event, message: @message if signed_in? %>
        <ul class="messages" data-id="<%= @event.id %>" data-count="<%= @messages_count %>" data-limit="<%= Figaro.env.chat_msg_per_page.to_i %>">
          <% if @messages.any? %>
            <%= render @messages %>
            <% if @messages_count > Figaro.env.chat_msg_per_page.to_i %>
              <span class="load-messages">Loading new messages...</span>
            <% end %>
          <% else %>
            <span class="no-messages">There are no messages.</span>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% content_for(:before_body_end) do %>
  <script type="text/javascript">
    $(document).ready(function()
    {
      $('.message').autoSize({
        fixed: '.profile-image',
        fluid: '.body'
      });

      $('.member').autoSize({
        fixed: '.profile-image',
        fluid: '.body',
        offset: 1
      });

      $('.nudge').mouseenter(function()
      {
        var $this = $(this);
        var $overlay = $("<div></div>").addClass("overlay").html("<i class=\"icon-hand-up icon-white\"></i>");
        $this.prepend($overlay);
      });

      $('.nudge').mouseleave(function()
      {
        var $this = $(this);
        $this.find('.overlay').remove();
      });
    });
  </script>
<% end %>