<% provide(:title, @event.title) %>
<div class="row">
  <div class="span9">
    <div class="page-header">
      <h2>
        <%= @event.title %>
        <% if @event.public? %>
          <a href="#" rel="tooltip" title="Public event" data-placement="top"><i class="icon-globe"></i></a>
        <% else %>
          <a href="#" rel="tooltip" title="Private event" data-placement="top"><i class="icon-lock"></i></a>
        <% end %>
      </h2>
    </div>
  </div>
  <% if current_user == @event.organizer %>
    <div class="span3">
      <%= link_to "Edit event", edit_event_path(@event), class: "btn btn-primary pull-right push-top" %>
    </div>
  <% elsif @event.public? && !@event.members.include?(current_user) %>
    <div class="span3">
      <%= form_for [@event, @event_user] do |f| %>
          <%= f.hidden_field :event_id, :value => @event.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit "Join Event", id: "join-event-button", class: "btn btn-primary pull-right push-top" %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="span5">
    <h3>Event Details</h3>
    <div class="well event-description">
      <% if @event.description.present? %>
        <div class="quarter"><strong>Description:</strong></div>
        <div class="three-quarters"><%= @event.description %></div>
        <div class="clearfix"></div>
      <% end %>
      <% unless @event.fundraiser? %>
        <div class="quarter"><strong>Money Goal:</strong></div>
        <div class="three-quarters"><%= number_to_currency(@event.total_amount) %></div>
      <% end %>
      <div class="quarter"><strong>Money Due at</strong></div>
      <div class="three-quarters"><%= @event.start_at.to_date.strftime("%m/%d/%Y at %I:%M%p") %></div>
      <div class="clearfix"></div>
      <div class="quarter"><strong>Event Starts at</strong></div>
      <div class="three-quarters"><%= @event.start_at.to_date.strftime("%m/%d/%Y at %I:%M%p") %></div>
      <div class="clearfix"></div>
    </div>
    <h3>Guest List</h3>
    <div class="well">
      <div class="event-members">
        <% if @event.members.any? %>
          <ul class="member-list">
            <%= render @event.members %>
          </ul>
        <% else %>
          There are no members. Add some!
        <% end %>
      </div>
    </div>
    <% if current_user == @event.organizer %>
    <% elsif @event_user.paid? %>
      <%= link_to "Paid", "#", class: "btn btn-primary disabled btn-block" %>
    <% else %>
      <%= link_to "Pay #{humanized_money_with_symbol @event.split_amount} Now", pay_event_user_path(@event_user), class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
  <div class="span7">
    <h3>Chat Board</h3>
    <div class="well">
      <div class="new-message-form">
        <h4>Leave Message</h4>
        <%= form_for [@event, @message], remote: true do |f| %>
          <%= f.text_area :message, class: "input-block-level message-text-field", rows: "3", placeholder: "Compose a message..." %>
          <%= f.submit "Post Message", class: "post-message btn btn-block" %>
        <% end %>
      </div>
      <ul class="message-list" data-id="<%= @event.id %>">
        <% if @messages.any? %>
          <%= render @messages %>
          <% if @messages_count > Figaro.env.chat_msg_per_page.to_i %>
          <% end %>
        <% else %>
          <span class="no-messages">There are no messages.</span>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for(:before_body_end) do %>
  <script type="text/javascript">
    $(document).ready(function()
    {
      $('.message').autoSize({
        fixed: '.profile-image',
        fluid: '.body'
      });
    });
  </script>
<% end %>
