<% provide(:title, @event.title) %>
<div class="row">
  <div class="span9">
    <div class="page-header">
      <h2>
        <%= @event.title %>
        <% if @event.public? %>
          <i class="icon-globe"></i>
        <% else %>
          <i class="icon-lock"></i>
        <% end %>
      </h2>
    </div>
  </div>
  <% if current_user == @event.organizer %>
    <div class="span3">
      <%= link_to "Edit event", edit_event_path(@event), class: "btn btn-primary pull-right push-top" %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="span5">
    <h3>Event Details</h3>
    <div class="well event-description">
      <% if @event.description.present? %>
        <div class="quarter"><strong>Description:</strong></div>
        <div class="three-quarters"><%= @event.description %></div>
        <div class="clearfix"></div>
      <% end %>
      <% unless @event.fundraiser? %>
        <div class="quarter"><strong>Money Goal:</strong></div>
        <div class="three-quarters"><%= number_to_currency(@event.total_amount) %></div>
      <% end %>
      <div class="quarter"><strong>Money Due at</strong></div>
      <div class="three-quarters"><%= @event.start_at.to_date.strftime("%m/%d/%Y at %I:%M%p") %></div>
      <div class="clearfix"></div>
      <div class="quarter"><strong>Event Starts at</strong></div>
      <div class="three-quarters"><%= @event.start_at.to_date.strftime("%m/%d/%Y at %I:%M%p") %></div>
      <div class="clearfix"></div>
    </div>
    <h3>Guest List</h3>
    <div class="well">
      <div class="event-members">
        <% if @event.members.any? %>
          <ul class="member-list">
            <%= render @event.members %>
          </ul>
        <% else %>
          There are no members. Add some!
        <% end %>
      </div>
    </div>
  </div>
  <div class="span7">
    <h3>Chat Board</h3>
    <div class="well">
      <div class="new-message-form">
        <h4>Leave Message</h4>
        <%= form_for [@event, @message], remote: true do |f| %>
          <%= f.text_area :message, class: "input-block-level message-text-field", rows: "3", placeholder: "Compose a message..." %>
          <%= f.submit "Post Message", class: "post-message btn btn-block" %>
        <% end %>
      </div>
      <ul class="message-list" data-id="<%= @event.id %>">
        <% if @messages.any? %>
          <%= render @messages %>
          <%= will_paginate @messages %>
        <% else %>
          <span class="no-messages">There are no messages.</span>
        <% end %>
      </ul>
    </div>
  </div>
</div>