<div class="container">
  <div class="row row-split">
    <div class="span7" id="home-cta">
      <h2>We make collecting money simple.</h2>
      <em>Create a group, enter the amount, and the money will start pouring in. You'll get your money sooner so you'll have extra time for more important things.</em><br />
      <%= link_to "Start Collecting", new_user_registration_path, class: "btn btn-primary btn-large btn-cta" %>
      <h2>Set up special restaurant events.</h2>
      <em>Attract more people to your restaurant using our Deals via Virality and Split the Bill features.</em><br />
      <%= link_to "More Information Here", restaurants_path, class: "btn btn-primary btn-large btn-cta" %>
    </div>
    <div class="span5 static-width">
      <iframe width="350" height="250" src="http://www.youtube.com/embed/-9u8b1jxK8c?rel=0" allowfullscreen class="img-polaroid"></iframe>
    </div>
  </div>
</div>

<div class="wrapper wrapper-bordered">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="feature-with-icon">
          <div class="icon"><%= image_tag "icons/cash.png" %></div>
          <div class="feature">
            <h3>Your money, your way</h3>
            <em><small>Collect money using cash, check, PayPal, WePay or Dwolla</small></em>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="span6">
        <div class="feature-with-icon">
          <div class="icon"><%= image_tag "icons/group.png" %></div>
          <div class="feature">
            <h3>Don't be the bad guy</h3>
            <em><small>Social accountability puts peer pressure on group members</small></em>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="span6">
        <div class="feature-with-icon second-row">
          <div class="icon"><%= image_tag "icons/thumbs.png" %></div>
          <div class="feature">
            <h3>Enjoy the event</h3>
            <em><small>Easier payment collection makes the event easier to enjoy</small></em>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="span6">
        <div class="feature-with-icon second-row">
          <div class="icon"><%= image_tag "icons/ledger.png" %></div>
          <div class="feature">
            <h3>Stay on top of things</h3>
            <em><small>Keep track of who has paid and track progress</small></em>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-split push-bottom">
    <div class="span5 static-width">
      <%= image_tag "nudge_demo.png", class: 'img-polaroid' %>
    </div>
    <div class="span7 home-feature-description">
      <h3>Let group members remind each other</h3>
      <em><small>Our nudge feature lets users who have already paid put the pressure on the unpaid users. In many group payment situations, the whole group benefits from everyone paying. There's no reason why the event organizer should be the only one that reminds people to pay. Nudging will help you get your money!</small></em>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="span12">
    <center><%= image_tag "poster_logo.png", id: "home-page-logo"%></center>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div id="temp-box">
      <iframe width="420" height="315" src="http://www.youtube.com/embed/-9u8b1jxK8c?rel=0" frameborder="1" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="home-page-sign-up">
      <h3>Sign up via</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <%= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-primary btn-large push-bottom" %>
  </div>
  <div class="span4">
    <%= link_to "Twitter", user_omniauth_authorize_path(:twitter), class: "btn btn-block btn-primary btn-large push-bottom" %>
  </div>
  <div class="span4">
    <%= link_to "Email", new_user_registration_path, class: "btn btn-block btn-primary btn-large" %>
  </div>
</div>
 -->

<% content_for(:before_body_end) do %>
  <script type="text/javascript">
    $('.row-split').autoSize({
      fixed: '.span5',
      fluid: '.span7',
      minSize: 768
    });
    $('.feature-with-icon').autoSize({
      fixed: '.icon',
      fluid: '.feature'
    });
  </script>
<% end %>