<<<<<<< HEAD
<center>
	<%= image_tag "poster_logo.png", id: "home-page-logo"%>
</center>

<center>
	<div id="temp-box">
		<center>500x300</center>
	</div>
</center>

<div class="container home-page">
	<h3 class="center">Sign up via</h3>
	<div class="center span12" id="span">
		<%= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-large" %>
		<%= link_to "Twitter", user_omniauth_authorize_path(:twitter), class: "btn btn-primary btn-large" %>
		<%= link_to "Email", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</div>
=======
<div class="row">
    <div class="span12">
    	<h1>Welcome to PayWithMe</h1>
    	<div class="home-page-desc"><h3>Facilitating group payments for all your events!</h3></div>
    </div>
</div>

<div class="row">
    <div class="span12">
    	<div class="temp-box">
    		500x300
    	</div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="home-page-sign-up">
            <h3>Sign up via</h3>
        	<%= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "span1 btn btn-primary btn-large" %>
        	<%= link_to "Twitter", user_omniauth_authorize_path(:twitter), class: "span1 btn btn-primary btn-large" %>
        	<%= link_to "Email", new_user_registration_path, class: "span1 btn btn-primary btn-large" %>
        </div>
    </div>
>>>>>>> 5464f1b67dcbcdca50325d8dc97f578b3981d03d
</div>