<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="page-header">
          <h2>News Feed</h2>
        </div>
        <ul class="unstyled">
          <% if @news_items.empty? %>
            <li>
              <div class="well">
                You have no news... yet!
              </div>
            </li>
          <% else %>
            <%= render @news_items %>
            <%= will_paginate @news_items %>
          <% end %>
        </ul>
      </div>
      <div class="span4">
        <%= link_to "Create New Event", new_event_path, class: "btn btn-block btn-primary" %>
        <h3 class="push-top">Upcoming Events</h3>
        <% if @upcoming_events.empty? %>
          <div class="well">
            No upcoming events! <%= render "shared/maybe_create_event" %>
          </div>
        <% else %>
          <%= render collection: @upcoming_events, partial: "events/event_body", as: :event %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
    <%= render 'default_home_page' %>
<% end %>
