<% if user_signed_in? %>
  <div class="row">
    <div class="span8">
      <div class="page-header">
        <h2>News Feed</h2>
      </div>
      <ul class="vertical-list">
        <% if @news_items.empty? %>
          <li>You have no news... yet!</li>
        <% else %>
          <%= render @news_items %>
          <%= will_paginate @news_items %>
        <% end %>
      </ul>
    </div>
    <div class="span4">
      <%= link_to "Create New Event", new_event_path, class: "btn btn-block btn-primary" %>
      <h3 class="push-top">Upcoming Events</h3>
      <% if @upcoming_events.empty? %>
        No upcoming events!
      <% else %>
        <%= render collection: @upcoming_events, partial: "events/event_body", as: :event %>
      <% end %>
    </div>
  </div>
<% else %>
    <%= render 'default_home_page' %>
<% end %>
