<%= provide(:title, "Jobs") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>We're hiring!</h2>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span8">
      <h3>About Us</h3>
      <div class="well">
        PayWithMe facilitates the organization of events, and group payments on an
        interactive, social platform. Whether its a spring break trip with your buddies or
        collecting money for intermural sports we simplify your group payments.
      </div>
      <h3>Campus Representative Program</h3>
      <div class="well">
        PayWithMe is searching for ambitious undergraduate and graduate students
        looking to gain sales experience. This program provides college students with
        a great opportunity to build their network while gaining hands-on experience
        with a growing startup company.
      </div>
      <div class="offset2 span5">
        <%= image_tag 'man.png', class: 'push-right-small push-bottom-small' %>
        <%= image_tag 'man.png', class: 'push-right-small push-bottom-small' %>
        <%= image_tag 'man.png', class: 'push-bottom-small' %>
      </div>
      <div class="offset2 span4">
        <%= image_tag 'poster_logo.png', style: 'width: 260px;' %>
      </div>
    </div>
    <div class="span4">
      <h3>Details</h3>
      <div class="well">
        <h4 style="margin-top:0px">Benefits:</h4>
        <ul>
          <li>35% commission</li>
          <li>Sales experience</li>
          <li>PayWithMe swag and t-shirt</li>
          <li>Networking opportunities</li>
          <li>Opportunity for full-time employment</li>
        </ul>
        <h4>Your Role:</h4>
        <ul>
          <li>Establish customer relationships</li>
          <li>Conduct sales pitches</li>
          <li>Identify potential partnerships</li>
          <li>Promote brand awareness</li>
          <li>Participate in bi-weekly conference calls</li>
        </ul>
      </div>
    </div>
    <div class="span12">
      <h3>Interested?</h3>
      <div class="well">
        If you are a driven and social person who wants to make a little money while working with an up-coming start up then send your resume and a brief statement of interest to Kyle Brody at <a href="mailto:kbrody@paywith.me">kbrody@paywith.me</a>.
      </div>
    </div>
  </div>
</div>