<% provide(:title, "Our Team") %>

<div class="team-page">
	<div class="page-header">
		<h2>Our Team</h2>
	</div>
</div>

<div class="container">
	<div class="team-page">

		<!-- Row 1 -->
		<div class="team-row span12 center">
			<center>
				<div class="span4 left">
					<div class="well">
						<center>
							<%= image_tag "abe.jpg" %>
							<h4 class="name">Eric Rozell</h4>
							<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget felis purus. Praesent eu neque orci. Sed nisl felis, malesuada in egestas a, aliquet vitae dui. Etiam purus metus, consectetur.</p>
						</center>
					</div>
				</div>
				<div class="span4 middle">
					<div class="well">
						<center>
							<%= image_tag "abe.jpg" %>
							<h4 class="name">Eric Rozell</h4>
							<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget felis purus. Praesent eu neque orci. Sed nisl felis, malesuada in egestas a, aliquet vitae dui. Etiam purus metus, consectetur.</p>
						</center>
					</div>
				</div>
				<div class="span4 right">
					<div class="well">
						<center>
							<%= image_tag "abe.jpg" %>
							<h4 class="name">Eric Rozell</h4>
							<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget felis purus. Praesent eu neque orci. Sed nisl felis, malesuada in egestas a, aliquet vitae dui. Etiam purus metus, consectetur.</p>
						</center>
					</div>
				</div>
			</center>
		</div>

		<!-- Row 2 -->
		<div class="team-row span12 center">
			<center>
				<div class="span4 left">
					<div class="well">
						<center>
							<%= image_tag "abe.jpg" %>
							<h4 class="name">Eric Rozell</h4>
							<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget felis purus. Praesent eu neque orci. Sed nisl felis, malesuada in egestas a, aliquet vitae dui. Etiam purus metus, consectetur.</p>
						</center>
					</div>
				</div>
				<div class="span4 middle">
					<div class="well">
						<center>
							<%= image_tag "abe.jpg" %>
							<h4 class="name">Eric Rozell</h4>
							<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget felis purus. Praesent eu neque orci. Sed nisl felis, malesuada in egestas a, aliquet vitae dui. Etiam purus metus, consectetur.</p>
						</center>
					</div>
				</div>
				<div class="span4 right">
					<div class="well">
						<center>
							<%= image_tag "abe.jpg" %>
							<h4 class="name">Eric Rozell</h4>
							<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget felis purus. Praesent eu neque orci. Sed nisl felis, malesuada in egestas a, aliquet vitae dui. Etiam purus metus, consectetur.</p>
						</center>
					</div>
				</div>
			</center>
		</div>

	</div>
</div>