<% provide(:title, "Our Team") %>

<div class="team-page">
	<div class="page-header">
		<h2>Our Team</h2>
	</div>
</div>

<div class="container">
	<div class="team-page">

		<!-- Row 1 -->
		<div class="team-row span12 center">
			<center>
				<%= render :partial => "team_template", 
						   :locals => { :name => "Jake Schonberger", 
										:picture => "twister.png",
										:rollover => "twister.png", 
										:description => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget felis purus. Praesent eu neque orci. Sed nisl felis, malesuada in egestas a, aliquet vitae dui. Etiam purus metus, consectetur.",
										:left => true } %>

				<%= render :partial => "team_template", 
						   :locals => { :name => "Austin Gulati", 
										:picture => "bender.png",
										:rollover => "bender.png", 
										:description => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget felis purus. Praesent eu neque orci. Sed nisl felis, malesuada in egestas a, aliquet vitae dui. Etiam purus metus, consectetur.",
										:left => false } %>

				<%= render :partial => "team_template", 
						   :locals => { :name => "Damian Mastylo", 
										:picture => "damian.png",
										:rollover => "larry.png", 
										:description => "The most fashionable, handsome, and \"bro\" of the team, Damian brings an extraordinary level of 
                                            intelligence and style to the development team. He also captains a soccer team with PayWithMe's designated wuss.
                                            (See Chris Celi)",
										:left => false } %>
			</center>
		</div>

		<!-- Row 2 -->
		<div class="team-row span12 center">
			<center>
				<%= render :partial => "team_template", 
						   :locals => { :name => "Chris Celi", 
										:picture => "chris.png",
										:rollover => "spongebob.png", 
										:description => "A Computer Science major from RPI, Chris loves hockey, and will try
											any sport once. He curls (yes, the one on ice with the brooms) and has played soccer
											all his life. Chris helped on the development of the front-end of the site.",
										:left => true } %>

				<%= render :partial => "team_template", 
						   :locals => { :name => "Kyle Brody", 
										:picture => "elmer.png",
										:rollover => "elmer.png", 
										:description => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget felis purus. Praesent eu neque orci. Sed nisl felis, malesuada in egestas a, aliquet vitae dui. Etiam purus metus, consectetur.",
										:left => false } %>

				<%= render :partial => "team_template", 
						   :locals => { :name => "Eric Rozell", 
										:picture => "abe.jpg",
										:rollover => "abe.jpg", 
										:description => "Lorem ipsum dolor old amet, consectetur adipiscing elit. Cras eget felis purus. Praesent eu neque old. Old nisl felis, malesuada in egestas a, aliquet vitae old. Etiam purus old fart, consectetur.",
										:left => false } %>
			</center>
		</div>
	</div>
</div>