<%= provide(:title, "Paid") %>

<div class="container">
	<div class="row">
		<div class="span12">
			<h3>Paid!</h3>
			<div class="well">
				<p><%= @event_user.user.name || @event_user.user.email %> has paid via <%= @event_user.payments[0].payment_method.name %> to attend <%= @event_user.event.title %>.</p>
				<p><%= @event_user.user.name || @event_user.user.email %> paid a total of <%= humanized_money_with_symbol @event_user.paid_total_cents / 100 %> on <%= @event_user.paid_at.to_date %>.</p>
			</div>
		</div>
	</div>
</div>