<tr>
  <td>
    <%= link_to payment.event.title, payment.event %>
  </td>
  <td>
    <%= link_to user_name(payment.payer), payment.payer %>
  </td>
  <td>
    <%= link_to user_name(payment.payee), payment.payee %>
  </td>
  <td>
    <%= humanized_money_with_symbol payment.amount %>
  </td>
  <td>
    <%= payment.payment_method.name %>
  </td>
</tr>