<div class="control-group">
  <div class="payment-block first text">I</div>
  <div class="payment-block"><%= object.select(:type, options_for_select(["owe", "expect"], @payment.type), class: "span3") %></div>
  <div class="payment-block">
    <div class="input-prepend" style="display: inline;">
      <span class="add-on">$</span><%= object.text_field :amount, class: "span3" %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="payment-block first text" id="payment-verb"><%= @payment.type == "expect" ? "from" : "to" %></div>
  <div class="payment-block"><%= collection_select(:payment, :foreign_id, current_user.friends, :id, :name, {}, class: "span3") %></div>
  <div class="payment-block text">by</div>
  <div class="payment-block">
    <%= object.text_field :desired_at, "data-data-format" => "mm/dd/yy", class: "datepicker span3", value: @payment.desired_at.strftime("%m/%d/%Y") %>
    <%= date_select :payment, :desired_at, discard_year: true, discard_day: true, discard_month: true  %>
  </div>
  <div class="clearfix"></div>

  <div class="payment-block first text tall" id="payment-verb">through</div>
  <div class="payment-block">
    <% @processors.each do |processor| %>
      <div class="control-processor">
        <% selected = (@payment.processors.include?(processor))? " selected" : "" %>
        <%= image_tag processor.image, class: "processor-logo" + selected, "data-name" => processor.name.downcase %>
        <%= hidden_field :processor, processor.name.downcase, value: @payment.processors.include?(processor) %>
      </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>

<!-- <div class="control-group">
  <%= object.label :payer_id, class: 'control-label' %>
  <div class="controls">
    
  </div>
</div>

<div class="control-group">
  <%= object.label :payee_id, class: 'control-label' %>
  <div class="controls">
    <%= collection_select(:payment, :payee_id, current_user.friends, :id, :name, multiple: true) %>
  </div>
</div>

<div class="control-group">
  <%= object.label :amount, class: 'control-label' %>
  <div class="controls">
    <%= object.text_field :amount %>
  </div>
</div>

<div class="control-group">
  <%= object.label :desired_at, class: 'control-label' %>
  <div class="controls">
    <%= date_select :payment, :desired_at %>
  </div>
</div> -->
