<% is_payer = current_user == payment.payer %>
<tr>
  <td>
    <% if is_payer %>
      <%= link_to payment.payee.name, payment.payee %>
    <% else %>
      <%= link_to payment.payer.name, payment.payer %>
    <% end %>
  </td>
  <td><%= number_to_currency payment.amount %></td>
  <td>
    <%= distance_of_time_in_words payment.created_at, Time.now %> ago</td>
  </td>
  <td <%= "class=\"danger\"".html_safe if Time.now > payment.desired_at %>>
    <%= distance_of_time_in_words payment.desired_at, Time.now %><%= " ago" if Time.now > payment.desired_at %>
  </td>
  <td>
    <% payment.processors.each do |processor| %>
      <%= image_tag processor.image %>
    <% end %>
  </td>
  <td>
    <% if is_payer %>
      <% payment.processors.each do |processor| %>
        <%= link_to "Make Payment With " + processor.name, pay_payment_path(payment, processor: processor), class: "btn btn-success" %>
      <% end %>
    <% else %>
      <%= link_to "Edit Request", edit_payment_path(payment), class: "btn btn-primary" %>
      <%= link_to "Delete Request", "#", class: "btn btn-danger" %>
    <% end %>
  </td>
</tr>