<% provide(:title, "Confirm payment for #{@payment.event.title}") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <div class="page-header">
          <h2>
            Confirm payment for <%= @payment.event.title %>
          </h2>
          <em>
            <small>
              Money will be sent to <%= @payment.event.organizer.name %>
            </small>
          </em>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span5">
      <div class="underlayed-image-large <%= "default" if @payment.event.image_type == :default_image %>" style="background-image: url('<%= event_image_path(@payment.event, :full) %>');"></div>
    </div>
    <div class="span7">
      <div class="well">
        <h3>Payment details</h3>
        <strong>Payment to <%= @payment.event.organizer.name %></strong>: <%= humanized_money_with_symbol @payment.amount %><br />
        <%= link_to "Confirm payment", paid_payment_path(@payment), method: :put, class: "btn btn-primary btn-block push-top-small" %>
      </div>
    </div>
  </div>
</div>

<% content_for(:before_body_end) do %>
  <script type="text/javascript">
    $(document).ready(function()
    {
    });
  </script>
<% end %>`