<div class="page-header">
  <h1>Request Payment</h1>
</div>

<%= form_for @payment do |f| %>
  <div class="control-group">
    <%= f.label :payer_id, class: 'control-label' %>
    <div class="controls">
      <%= collection_select(:payment, :payer_id, current_user.friends, :id, :name, multiple: true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :amount, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :desired_at, class: 'control-label' %>
    <div class="controls">
      <%= date_select :payment, :desired_at %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :processor, class: 'control-label' %>
    <div class="controls">
      <% @processors.each do |processor| %>
        <div class="control-processor">
          <%= image_tag processor.image, class: "processor-logo", "data-name" => processor.name.downcase %>
          <%= hidden_field :processor, processor.name.downcase %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Request Payment", class: 'btn btn-primary' %>
  </div>
<% end %>