<% provide(:title, 'Request Payment') %>
<div class="page-header">
  <h2>Request Payment</h2>
</div>

<pre>
  <%= @payment.to_yaml %>
  <%= params.to_yaml %>
</pre>

<%= form_for @payment do |f| %>
  <%= render 'fields', object: f %>

  <div class="form-actions">
    <%= f.submit "Request Payment", class: 'btn btn-primary' %>
  </div>
<% end %>