<% provide(:title, "Enter Pin") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="page-header">
          <h2>
            Pay <%= @payment.event.title %>
          </h2>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <%= form_tag(pay_payment_path(@payment, method: PaymentMethod::MethodType::DWOLLA)) do %>
    <div class="row">
      <div class="span4">
        <h3>Enter Dwolla Pin</h3>
        <div class="well">
          <%= label_tag :pin %>
          <%= text_field_tag :pin, "", class: "input-block-level" %>
        </div>
        <%= submit_tag "Send Payment", class: "btn btn-primary btn-block push-bottom" %>
      </div>
    </div>
  <% end %>
</div>