<% provide(:title, "New Campus Rep") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>New Campus Rep</h2>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="span12 no-margin">
    <div class="well">
      <%= form_for @campus_rep do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="control-group">
          <%= f.label :name, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :name, placeholder: "First Last", class: "input-block-level" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :school, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :school, placeholder: "Rensselaer Polytechnic Institute", class: "input-block-level" %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit "Submit", class: "btn btn-block btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>