<tr>
	<td><%= organization.name %></td>
	<td><%= organization.contact %></td>
	<td><%= organization.per_person? ? "Yes" : "No" %></td>
	<td><%= organization.deal? ? "Yes" : "No" %></td>
	<td><%= organization.email %></td>
	<% if full %>
		<td><%= organization.comment.blank? ? "None given" : organization.comment %></td>
	<% end %>
</tr>