<tr>
	<td><%= organization.organization_name %></td>
	<td><%= organization.name %></td>
	<td><%= organization.split? ? "Yes" : "No" %></td>
	<td><%= organization.deal? ? "Yes" : "No" %></td>
	<td><%= organization.email %></td>
	<td><%= organization.comment.blank? ? "None given" : organization.comment %></td>
</tr>