<% provide(:title, "Organizations") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>Organization Information</h2>
    </div>
  </div>
<% end %>

<div class="container">
	<div class="span12 no-margin">
		<div class="well">
			<h3>What is PayWithMe?</h3>
			PayWithMe LLC is a platform for event organizers to collect money from their group members. Organizers invite members via email, Facebook or Twitter, and receive payments through credit card, debit card, or cash. We are looking to help attract customers towards your organization or business with upcoming features described below. If you are interested in either, neither or both, let us know using the form at the bottom. Thanks!
		</div>
	</div>
	<div class="span6 no-margin">
		<div class="well">
			<h3>Deals via Virality</h3>
			As a business owner or manager, you can log on to PayWithMe and create an event. Your event, for example, will advertise a $10 combo to whoever purchases the combo through PayWithMe. Those who purchase the combo through PayWithMe receive a customized ticket that proves their purchase.
			<br /><br />
			Those who first join the event for the deal have the social incentive to share the deal with their friends in order to hit the next threshold for an even bigger deal! This process of socially driven traffic leads to more purchases for your establishment.
			<br /><br />
			Take a look at this example: Person A purchases your $10 combo through PayWithMe. They are now told that if they get 3 more people to also purchase the same deal, everyone pays $9 instead of 10. If they get 5 people to purchase the product, everyone pays $8. If they get 10 people to purchase the product, everyone pays $7.
			<br /><br />
			Using this structure, you only offer deals if a lot of people purchase your product! Virality by Incentive.
			<br /><br />
			All you need to do:
			<ul>
				<li>Connect your PayPal account to PayWithMe</li>
				<li>Have an awesome service or product you want to sell</li>
				<li>Set the deal structures</li>
			</ul>
			You control everything about the deal you offer. You set the prices and the thresholds needed to hit the next level!
		</div>
	</div>
	<div class="span6">
		<div class="well">
			<h3>Split the Bill</h3>
			Do you ever dread splitting a bill amongst a large group of customers? Swiping each credit card and keeping track of who owes what?
			<br /><br />
			If its crunch time, brunch time, rush hour or happy hour - and you can't waste another minute splitting checks among 4 customers - just tell them about PayWithMe! Hand them a PayWithMe -- Split the Bill instructions sheet and let them handle the split. Your customers simply take a pictu@re of the receipt, and assign each purchase to whoever purchased it. Each member then receives an email, allowing them to pay the organizer back via credit card, debit card or cash! It saves you time, and allows customers to split the bill right at the table.
			<br /><br />
			All you need to do:
			<ul>
				<li>Spot a large group of customers seeking to pay separately</li>
				<li>Hand them a PayWithMe -- Split the Bill instructions sheet we will provide for you</li>
			</ul>
			***Note that businesses do not need a PayWithMe account for Split the Bill features
		</div>
	</div>
	<div class="span12 no-margin">
		<div class="well">
			<h3>If you're interested, let us know!</h3>
			<%= form_for @organization do |f| %>

				<div class="control-group">
					<%= f.label :name, class: "control-label" %>
					<div class="controls">
						<%= f.text_field :name, placeholder: "First Last", class: "input-block-level" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :email, class: "control-label" %>
					<div class="controls">
						<%= f.email_field :email, placeholder: "example@email.com", class: "input-block-level" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :organization_name, "Organization Name", class: "control-label" %>
					<div class="controls">
						<%= f.text_field :organization_name, placeholder: "Sample's Organization", class: "input-block-level" %>
					</div>
				</div>

				<div class="control-group">
					I'm interested in...
				</div>

				<div class="control-group">
					<%= f.label :split, "Split the Bill", class: "control-label" %>
					<div class="controls">
						<%= f.check_box :split %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :deal, "Deals via Virality", class: "control-label" %>
					<div class="controls">
						<%= f.check_box :deal %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :comment, "Comments or Questions (Optional)", class: "control-label" %>
					<div class="controls">
						<%= f.text_area :comment, placeholder: "250 characters max", rows: 5, class: "input-block-level" %>
					</div>
				</div>
				If you have more to say, use our <%= link_to "Contact Page", new_contact_form_path %> after hitting submit or send us an email at <a href="mailto:support@paywith.me">support@paywith.me</a>.

				<div class="form-actions">
					<%= f.submit "Submit", class: "btn btn-block btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>