<% provide(:title, "Payment Accounts") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <h2>Payment Accounts</h2>
  </div>
<% end %>

<div class="container">
  <div class="row push-bottom">
    <div class="span12">
      <h3>Where should your money go?</h3>
      <p>
        We use third party payment processors that you already know to ensure security and satisfaction. All the money collected will go into your processor account, so you can take it out whenever you want. Simply connect your processor to your PayWithMe account by clicking on the logo below. We support the following processors:
      </p>
    </div>
  </div>
  <div class="row push-bottom">
    <div class="span3">
      <%= link_to image_tag("wepay.png", class: "img-polaroid push-bottom-small img-full"), user_omniauth_authorize_path(:wepay) %>
      <%= link_to "Use <strong>WePay</strong>".html_safe, user_omniauth_authorize_path(:wepay), class: "btn btn-block btn-primary btn-block" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("paypal.png", class: "img-polaroid push-bottom-small img-full"), user_omniauth_authorize_path(:paypal) %>
      <%= link_to "Use <strong>PayPal</strong>".html_safe, user_omniauth_authorize_path(:paypal), class: "btn btn-block btn-primary btn-block" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("dwolla.png", class: "img-polaroid push-bottom-small img-full"), user_omniauth_authorize_path(:dwolla) %>
      <%= link_to "Use <strong>Dwolla</strong>".html_safe, user_omniauth_authorize_path(:dwolla), class: "btn btn-block btn-primary btn-block" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("cash.png", class: "img-polaroid push-bottom-small img-full"), cash_linked_accounts_path, method: :post %>
      <%= link_to "Use <strong>Cash</strong>".html_safe, cash_linked_accounts_path, method: :post, class: "btn btn-block btn-primary btn-block" %>
    </div>
  </div>
</div>