<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= raw full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

    <% if content_for?(:meta_description) %>
      <meta name="description" content="<%= yield(:meta_description) %>">
    <% end %>

    <% if content_for?(:meta_keywords) %>
      <meta name="keywords" content="<%= yield(:meta_keywords) %>">
    <% end %>

    <%= render 'shared/shim' %>
    <%= render 'shared/icons' %>
  </head>
  <body>
    <%= render 'shared/nav_bar' %>

    <% if content_for?(:wrapper_top) %>
      <div class="wrapper wrapper-top">
        <%= yield(:wrapper_top) %>
      </div>
    <% end %>

    <div class="container">
        <div class="row">
           <div class="span12">
              <%= content_tag(:div, flash[:error], :class => 'alert alert-error',) if flash[:error] %>
              <%= content_tag(:div, flash[:notice], :class => 'alert alert-warning') if flash[:notice] %>
              <%= content_tag(:div, flash[:alert], :class => 'alert alert-info') if flash[:alert] %>
              <%= content_tag(:div, flash[:success], :class => 'alert alert-success') if flash[:success] %>
            </div>
        </div>
    </div>

    <%= yield %>

    <% if Rails.env.development? %>
      <div class="container">
        <div class="debug">
          <%= debug(params) %>
          <!-- <%= debug(session) %> -->
        </div>
      </div>
    <% end %>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag "application" %>
    <% if content_for?(:before_body_end) %>
      <%= yield(:before_body_end) %>
    <% end %>

    <% if @display_stub_login %>
      <%= render 'shared/stub_login' %>
    <% end %>

    <% if @display_nudge_modal %>
      <%= render 'nudges/modal' %>
    <% end %>

    <%= render 'shared/nav_mobile' if signed_in? %>
    <%= render 'shared/analytics' if Rails.env.production? %>
  </body>
</html>