<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= render 'shared/shim' %>
    <%= render 'shared/icons' %>
  </head>

  <body>
    <%= render 'shared/nav_bar' %>

    <div class="container">
      <div class="content">
        <div class="row">
           <div class="span12">
              <%= content_tag(:div, flash[:error], :class => 'alert alert-error', :id => "flash_error") if flash[:error] %>
              <%= content_tag(:div, flash[:notice], :class => 'alert alert-warning', :id => "flash_notice") if flash[:notice] %>
              <%= content_tag(:div, flash[:alert], :class => 'alert alert-info', :id => "flash_alert") if flash[:alert] %>
            </div>
        </div><!--/row-->
        <%= yield %>
      </div><!--/content-->

      <%= render 'shared/footer' %>

      <%= debug(params) if Rails.env.development? %>
      <%= debug(session) if Rails.env.development? %>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>